{% extends "layouts/main.html" %}

{% block pageTitle %}
Cause of death – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype, not the real service.'
}) }}

  {{ govukBackLink({
  text: "Back to record",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
  
  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">
            Cause of death 
          </h1>

          <form class="form" action="../task-list?cannot-sent-to-ron-banner" method="post">
            <h2 class="govuk-heading-m">
              Side 1
            </h2>

              <fieldset class="govuk-fieldset" role="group" aria-describedby="MCCDissued-hint" id="MCCDissued-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Date medical certificate was issued
                </legend>
                <div class="govuk-form-group">
                  <div id="MCCDissued-hint" class="govuk-hint">
                    For example, 12 11 2007
                  </div>
                  <div class="govuk-date-input" id="MCCDissued">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="MCCDissued-day">
                          Day
                        </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="MCCDissued-day" name="MCCDissued-day" value="{{data['MCCDissued-day']}}"  type="text" pattern="[0-9]*" inputmode="numeric" maxlength="2" aria-required="false">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="MCCDissued-month">
                          Month
                        </label>  
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="MCCDissued-month" name="MCCDissued-month" value="{{data['MCCDissued-month']}}" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="2" aria-required="false">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="MCCDissued-year">
                          Year
                        </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="MCCDissued-year" name="MCCDissued-year" value="{{data['MCCDissued-year']}}" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="4" aria-required="false">
                      </div>
                    </div>
                  </div>
                 </div> 
              </fieldset>

              <fieldset class="govuk-fieldset" role="group" aria-describedby="MCCDAlive-hint" id="MCCDAlive-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Date certifying practitioner last saw them alive 
                </legend>
                <div class="govuk-form-group">
                  <div id="MCCDDAlive-hint" class="govuk-hint">
                    For example, 12 11 2007
                  </div>
                  <div class="govuk-date-input" id="MCCDAlive">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="MCCDAlive-day">
                          Day
                        </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="MCCDAlive-day" name="MCCDAlive-day" value="{{data['MCCDAlive-day']}}"  type="text" pattern="[0-9]*" inputmode="numeric" maxlength="2" aria-required="false">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="MCCDAlive-month">
                          Month
                        </label>  
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="MCCDAlive-month" name="MCCDAlive-month" value="{{data['MCCDAlive-month']}}" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="2" aria-required="false">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="MCCDAlive-year">
                          Year
                        </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="MCCDAlive-year" name="MCCDAlive-year" value="{{data['MCCDAlive-year']}}" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="4" aria-required="false">
                      </div>
                    </div>
                  </div>
                 </div> 
              </fieldset>


            <h2 class="govuk-heading-s">Cause of death - in infant</h2>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="MCCDcause-of-death" aria-required="false">

                {{ govukTextarea({
                  name: "CauseOfDeath-a",
                  value: data['CauseOfDeath-a'],
                  id: "CauseOfDeath-a",
                  label: {
                    text: "(a) Main disease or conditions in infant",
                    classes: "govuk-label--xs",
                    isPageHeading: true
                  }
                }) }}

                  <p class="govuk-body">
                      <a href="#" class="govuk-link govuk-link--no-visited-state">(b). Add another disease or condition in infant (optional)</a>
                  </p>

                  <h2 class="govuk-heading-s">Cause of death - maternal diseases or conditions (optional)</h2>
                  
                  {{ govukTextarea({
                    name: "CauseOfDeath-c",
                    value: data['CauseOfDeath-c'],
                    id: "CauseOfDeath-c",
                    label: {
                      text: "(c) Maternal disease or condition affecting infant (optional)",
                      classes: "govuk-label--xs",
                      isPageHeading: true
                    }
                  }) }}

                  <p class="govuk-body">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">(d). Add other maternal diseases or conditions affecting infant (optional)</a>
                  </p>
                  <p class="govuk-body">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">(e). Add other relevant causes (optional)</a>
                  </p>
                  
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="ethnicity" aria-required="false">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Ethnicity
                </legend>
                <div class="govuk-radios" data-module="govuk-radios" value="">  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="hazardous-implant" name="ethnicity" type="radio" value="white" {{ checked("ethnicity", "white") }}>
                    <label class="govuk-label govuk-radios__label" id="hazardous-implant-label" for="hazardous-implant">
                      White
                    </label>      
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="ethnicity-mixed" name="ethnicity" type="radio" value="mixed" {{ checked("ethnicity", "mixed") }}>
                    <label class="govuk-label govuk-radios__label" id="ethnicity-mixed-label" for="ethnicity-mixed">
                      Mixed or multiple ethnic groups
                    </label>
                  </div> 
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="ethnicity-asian" name="ethnicity" type="radio" value="asian" {{ checked("ethnicity", "asian") }}>
                    <label class="govuk-label govuk-radios__label" id="ethnicity-asian-label" for="ethnicity-asian">
                      Asian or Asian British
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="ethnicity-black" name="ethnicity" type="radio" value="black" {{ checked("ethnicity", "black") }}>
                    <label class="govuk-label govuk-radios__label" id="ethnicity-black-label" for="ethnicity-black">
                      Black, Black British, Caribbean or African
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="ethnicity-other" name="ethnicity" type="radio" value="other" {{ checked("ethnicity", "other") }}>
                    <label class="govuk-label govuk-radios__label" id="ethnicity-other-label" for="ethnicity-other">
                      Other ethnic group
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="ethnicity-not-known" name="ethnicity" type="radio" value="not-known" {{ checked("ethnicity", "not-known") }}>
                    <label class="govuk-label govuk-radios__label" id="ethnicity-not-known-label" for="ethnicity-not-known">
                      Not known
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="ethnicity" aria-required="false">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Did the deceased have any hazardous implants? 
                </legend>
                <div class="govuk-radios" data-module="govuk-radios" value="">  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="hazardous-implant-yes" name="hazardous-implant" type="radio" value="yes" {{ checked("hazardous-implant", "yes") }}>
                    <label class="govuk-label govuk-radios__label" id="hazardous-implant-label" for="hazardous-implant-yes">
                      Yes
                    </label>      
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="hazardous-implant-no" name="hazardous-implant" type="radio" value="no" {{ checked("hazardous-implant", "no") }}>
                    <label class="govuk-label govuk-radios__label" id="hazardous-implant-label" for="hazardous-implant-no">
                      No
                    </label>
                  </div> 
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="hazardous-implant-not-known" name="hazardous-implant" type="radio" value="not-known" {{ checked("hazardous-implant", "not-known") }}>
                    <label class="govuk-label govuk-radios__label" id="hazardous-implant-label" for="hazardous-implant-not-known">
                      Not known
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="FurtherInformation-fieldset" aria-required="false">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Might the attending practitioner apply to give further information later (box B)?
                </legend>
                <div class="govuk-radios govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="FurtherInformation-true" name="FurtherInformation" type="radio" value="true" {{ checked("FurtherInformation", "true") }}>
                    <label class="govuk-label govuk-radios__label" id="FurtherInformation-true-label" for="FurtherInformation-true">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="FurtherInformation-false" name="FurtherInformation" type="radio" value="false" {{ checked("FurtherInformation", "false") }}>
                    <label class="govuk-label govuk-radios__label" id="FurtherInformation-false-label" for="FurtherInformation-false">
                      No
                    </label>  
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id=" aria-required="false">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Medical examiner details
                </legend>
                <div class="govuk-form-group">
                  <label class="govuk-label" id="MedExaminer" for="MedExaminer">
                    Full name and qualifications
                  </label> 
                  <input class="govuk-input govuk-!-width-full" id="MedExaminer" name="MedExaminer" type="text" aria-required="false" value="{{data['MedExaminer']}}">
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label" id="GMCNumber" for="GMCNumber">
                    GMC number
                  </label> 
                  <input class="govuk-input govuk-!-width-two-thirds" id="GMCNumber" name="GMCNumber" type="text" aria-required="false" value="{{data['GMCNumber']}}">
                </div>
              </fieldset>
            </div> 

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" role="group" aria-describedby="Date-medical-certificate-signed">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Authorisation date
                </legend>
                <div id="Date-medical-certificate-signed-hint" class="govuk-hint">
                  For example, 27 3 2024
                </div>
                <div class="govuk-date-input" id="Date-medical-certificate-signed">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="Date-medical-certificate-signed-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="Date-medical-certificate-signed-day" name="Date-medical-certificate-signed-day" type="text" inputmode="numeric" value="{{data['Date-medical-certificate-signed-day']}}">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="Date-medical-certificate-signed-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="Date-medical-certificate-signed-month" name="Date-medical-certificate-signed-month" type="text" inputmode="numeric" value="{{data['Date-medical-certificate-signed-month']}}">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="Date-medical-certificate-signed-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="Date-medical-certificate-signed-year" name="Date-medical-certificate-signed-year" type="text" inputmode="numeric" value="{{data['Date-medical-certificate-signed-year']}}">
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>

              
            <div class="govuk-button-group">
              <button type="submit" class="govuk-button" formaction="informant-details" data-module="govuk-button">
                Save and continue
              </button>
             
              <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Save and return
              </button>
            </div>
          </form>
        </div>
      </div>
    </main>
  </div>

{% endblock %}
