//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
.govuk-tag-wider {
    max-width: 200px;
}

#horizontal-wrapper {
    display: flex;
  }
  
  #left {
    flex: 0 0 15%;
  }
  
  #right {
    flex: 1;
  }