{% extends "layouts/main.html" %}

{% block pageTitle %}
Register page – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype, not the real service.'
}) }}

  {{ govukBackLink({
  text: "Back to record",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">
            Register page 
          </h1>

          <form class="form" action="task-list" method="post">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Select designation
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="designation-registrar" name="designation" type="radio" value="registrar" {{checked("designation", "registrar")}}>
                    <label class="govuk-label govuk-radios__label" for="designation-registrar">
                      Registrar
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="designation-deputy-registrar" name="designation" type="radio" value="deputy-registrar" {{checked("designation", "deputy-registrar")}}>
                    <label class="govuk-label govuk-radios__label" for="designation-deputy-registrar">
                      Deputy Registrar
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-!-margin-bottom-5"> 
              <a class="govuk-body"  target="_blank" href="/public/dummy_docs/reg_page_1.pdf">View and print the register page</a>
            </div>

            
            <div class="govuk-checkboxes govuk-!-margin-bottom-5" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="signed" name="signed" type="checkbox" value="signed">
                <label class="govuk-label govuk-checkboxes__label" for="signed">
                The informant has checked and signed the register page
                </label>
              </div>
            </div>

  
            <div class="govuk-button-group">
              {{ govukButton({
                text: "Save and return"
              }) }}
            </div>
  
          </form>
  
        </div>
      </div>
  
      </main>
  </div>

{% endblock %}
