{% extends "layouts/main.html" %}

{% block pageTitle %}
Cause of death – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype, not the real service.'
}) }}

  {{ govukBackLink({
  text: "Back to record",
  href: "../task-list.html"
}) }}

<a class="govuk-link govuk-link--no-visited-state" href="" style="display: inline-block; position: relative; float: right; top: 15px;">View accented characters (opens in new window)</a>


{% endblock %}

{% block content %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
  
  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">
            Cause of death 
          </h1>

          <form class="form" action="../task-list?cannot-sent-to-ron-banner" method="post">

            <h2 class="govuk-heading-m">About the death</h2>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    Is cause of death in the standard format?
                </legend>
                <div id="changedName-hint" class="govuk-hint">
                  For example, 1(a), 1(b), 1(c)
                </div>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="COD_standard" name="COD_standard" type="radio" value="yes" checked="checked" {{ checked("COD_standard", "yes") }}>
                    <label class="govuk-label govuk-radios__label" for="COD_standard">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="COD_standard-2" name="COD_standard" type="radio" value="no" {{ checked("COD_standard", "no") }}>
                    <label class="govuk-label govuk-radios__label" for="COD_standard-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  If cause of death is above the character limit
                </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body">Anything you enter up to the character limit will be added to the register page and sent to RON.</p>
                <p class="govuk-body">You will need to:</p>
                <ol>
                  <li>Write the remaining information on the register page.</li>
                  <li>Find and caution mark this record in RON.</li>
                  <li>Complete the death certificate by hand or using the type and print function.</li>
                </ol>
              </div>
            </details>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="MCCDcause-of-death" aria-required="false">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h3 class="govuk-fieldset__heading">
                    Cause of death - in infant
                  </h3>
              </legend>

                {{ govukTextarea({
                  name: "CauseOfDeath-a",
                  value: data['CauseOfDeath-a'] or [''],
                  id: "CauseOfDeath-a",
                  label: {
                    text: "(a) Main disease or conditions in infant ",
                    classes: "govuk-label-xs",
                    isPageHeading: true
                  }
                }) }}

                <p class="govuk-body">
                  <a href="#" class="govuk-link govuk-link--no-visited-state" id="addAnother" style="display:block">(a)......... ( yn Cymraeg)</a>
                </p>

                <p class="govuk-body">
                  <a href="#" class="govuk-link govuk-link--no-visited-state" id="addAnother" style="display:block">(b). Add another disease or condition in infant</a>
                </p>
                <div id="Another"></div>
                
                <p class="govuk-body">
                  <a href="#" class="govuk-link govuk-link--no-visited-state" id="addAnother" style="display:block">(b) ......... ( yn Cymraeg)</a>
                </p>

                {% raw %}
                <script>
                var shownAnother = `
                    <div class="govuk-form-group">
                      <div class="horizontal-wrapper">
                      <label class="govuk-label" for="causeOfdeath1b">
                        (b). Another disease or condition in infant
                      </label>
                      <p class="govuk-body govuk-!-margin-bottom-1">
                        <a href="#" class="govuk-link govuk-link--no-visited-state" id="removeAnother">Remove</a>
                      </p>
                      </div> 
                      <textarea class="govuk-textarea govuk-!-margin-bottom-2" id="causeOfdeath1b" name="causeOfdeath1b" value="{{data['causeOfdeath1b']}}" rows="5"></textarea>
                    </div>`;
            
                    function toggleAnother(event) {
                      event.preventDefault();
                      var AnotherDiv = document.getElementById('Another');
                      var addAnotherLink = document.getElementById('addAnother');
                      if (event.target.id === 'addAnother') {
                        AnotherDiv.innerHTML = shownAnother;
                        addAnotherLink.style.display = 'none';
                        document.getElementById('removeAnother').addEventListener('click', toggleAnother);
                              var newTextarea = document.getElementById('causeOfdeath1b');
                              new GOVUKFrontend.CharacterCount(newTextarea).init();
                      } else if (event.target.id === 'removeAnother') {
                        AnotherDiv.innerHTML = '';
                        addAnotherLink.style.display = 'block';
                      }
                    }
                  
                    document.getElementById('addAnother').addEventListener('click', toggleAnother);
                  </script>
                  {% endraw %}

                  
            </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="MCCDcause-of-death" aria-required="false">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h3 class="govuk-fieldset__heading">
                    Cause of death - maternal diseases or conditions
                  </h3>
              </legend>

                {{ govukTextarea({
                  name: "CauseOfDeath-c",
                  value: data['CauseOfDeath-c'] or [''],
                  id: "CauseOfDeath-a",
                  label: {
                    text: "(c) Maternal disease or condition affecting infant (if provided)",
                    classes: "govuk-label-xs",
                    isPageHeading: true
                  }
                }) }}

                <p class="govuk-body">
                  <a href="#" class="govuk-link govuk-link--no-visited-state" id="addAnotherD" style="display:block">(c). ......... ( yn Cymraeg)</a>
                </p>

                <p class="govuk-body">
                  <a href="#" class="govuk-link govuk-link--no-visited-state" id="addAnotherD" style="display:block">(d). Add other maternal diseases or conditions affecting infant</a>
                </p>
            
                <div id="AnotherD"></div>

                <p class="govuk-body">
                  <a href="#" class="govuk-link govuk-link--no-visited-state" id="addAnotherD" style="display:block">(d). .......... ( yn Cymraeg)</a>
                </p>
                
                {% raw %}
                <script>
                var shownAnotherD = `
                    <div class="govuk-form-group">
                      <div class="horizontal-wrapper">
                      <label class="govuk-label" for="causeOfdeathd">
                        (d). Other maternal diseases or conditions affecting infant
                      </label>
                      <p class="govuk-body govuk-!-margin-bottom-1">
                        <a href="#" class="govuk-link govuk-link--no-visited-state" id="removeAnotherD">Remove</a>
                      </p>
                      </div> 
                      <textarea class="govuk-textarea govuk-!-margin-bottom-2" id="causeOfdeathd" name="causeOfdeathd" value="{{data['causeOfdeathd']}}" rows="5"></textarea>
                    </div>`;
            
                    function toggleAnotherD(event) {
                      event.preventDefault();
                      var AnotherDivD = document.getElementById('AnotherD');
                      var addAnotherDLink = document.getElementById('addAnotherD');
                      if (event.target.id === 'addAnotherD') {
                        AnotherDivD.innerHTML = shownAnotherD;
                        addAnotherDLink.style.display = 'none';
                        document.getElementById('removeAnotherD').addEventListener('click', toggleAnotherD);
                              var newTextarea = document.getElementById('causeOfdeathd');
                              new GOVUKFrontend.CharacterCount(newTextarea).init();
                      } else if (event.target.id === 'removeAnotherD') {
                        AnotherDivD.innerHTML = '';
                        addAnotherDLink.style.display = 'block';
                      }
                    }
                  
                    document.getElementById('addAnotherD').addEventListener('click', toggleAnotherD);
                  </script>
                  {% endraw %}

            <p class="govuk-body">
              <a href="#" class="govuk-link govuk-link--no-visited-state" id="addOther" style="display:block">(e). Add other relevant causes</a>
            </p>

            <div id="Other"></div>

            <p class="govuk-body">
              <a href="#" class="govuk-link govuk-link--no-visited-state" id="addOther" style="display:block">(e).  .......... ( yn Cymraeg)</a>
            </p>
                
            {% raw %}
                <script>
                var shownOther = `
                    <div class="govuk-form-group">
                      <div class="horizontal-wrapper">
                      <label class="govuk-label" for="causeOfdeath2">
                        (e). Other relevant causes 
                      </label>
                      <p class="govuk-body govuk-!-margin-bottom-1">
                        <a href="#" class="govuk-link govuk-link--no-visited-state" id="removeOther">Remove</a>
                      </p>
                      </div> 
                      <textarea class="govuk-textarea govuk-!-margin-bottom-2" id="causeOfdeath2" name="causeOfdeath2" value="{{data['causeOfdeath2']}}" rows="5"></textarea>
                    </div>`;
            
                    function toggleOther(event) {
                      event.preventDefault();
                      var OtherDiv = document.getElementById('Other');
                      var addOtherLink = document.getElementById('addOther');
                      if (event.target.id === 'addOther') {
                        OtherDiv.innerHTML = shownOther;
                        addOtherLink.style.display = 'none';
                        document.getElementById('removeOther').addEventListener('click', toggleOther);
                              var newTextarea = document.getElementById('causeOfdeath2');
                              new GOVUKFrontend.CharacterCount(newTextarea).init();
                      } else if (event.target.id === 'removeOther') {
                        OtherDiv.innerHTML = '';
                        addOtherLink.style.display = 'block';
                      }
                    }
                  
                    document.getElementById('addOther').addEventListener('click', toggleOther);
                  </script>
                  {% endraw %}
            
                  
            </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h1 class="govuk-fieldset__heading">
                    What option is circled on the medical certificate?
                  </h1>
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="option_circled" name="option_circled" type="radio" value="post_mortem" {{ checked("option_circled", "post_mortem") }}>
                    <label class="govuk-label govuk-radios__label" for="option_circled">
                      The cause of death includes information from the post-mortem
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="option_circled-2" name="option_circled" type="radio" value="available_later" {{ checked("option_circled", "available_later") }}>
                    <label class="govuk-label govuk-radios__label" for="option_circled-2">
                      Information from the post-mortem may be available later
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="option_circled-3" name="option_circled" type="radio" value="no_post_mortem" {{ checked("option_circled", "no_post_mortem") }}>
                    <label class="govuk-label govuk-radios__label" for="option_circled-3">
                      Post-mortem is not being held
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="option_circled-4" name="option_circled" type="radio" value="coroner_investigation" {{ checked("option_circled", "coroner_investigation") }}>
                    <label class="govuk-label govuk-radios__label" for="option_circled-4">
                      This death was reported to the coroner who decided not to investigate
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="FurtherInformation-fieldset" aria-required="false">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Might additional information about the cause of death be available later?  | A allai gwybodaeth ychwanegol am achos y farwolaeth fod ar gael yn nes ymlaen?
                </legend>
                <div class="govuk-radios govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="FurtherInformation-true" name="FurtherInformation" type="radio" value="true" {{ checked("FurtherInformation", "true") }}>
                    <label class="govuk-label govuk-radios__label" id="FurtherInformation-true-label" for="FurtherInformation-true">
                      Yes | Do 
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="FurtherInformation-false" name="FurtherInformation" type="radio" value="false" {{ checked("FurtherInformation", "false") }}>
                    <label class="govuk-label govuk-radios__label" id="FurtherInformation-false-label" for="FurtherInformation-false">
                      No | Naddo
                    </label>  
                  </div>
                </div>
              </fieldset>
        </div>


            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="ethnicity" aria-required="false">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Ethnicity | Ethnigrwydd
                </legend>
                <div class="govuk-radios" data-module="govuk-radios" value="">  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="ethnicity-white" name="ethnicity" type="radio" value="white"  {{ checked("ethnicity", "white") }} data-aria-controls="conditional-ethnicity-white">
                    <label class="govuk-label govuk-radios__label" id="ethnicity-white-label" for="ethnicity-white">
                      White | Gwyn
                    </label>      
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ethnicity-white">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <div class="govuk-radios" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="ethnicity-white-more" name="ethnicity-white-more" type="radio" value="ethnicity-white-more" {{ checked("ethnicity-white-more") }}>
                            <label class="govuk-label govuk-radios__label" for="ethnicity-white-more">
                              English, Welsh, Scottish, Northern Irish or British | Saesneg, Cymraeg, Albanaidd, Gogledd Iwerddon neu Brydeinig 
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="ethnicity-white-more-2" name="ethnicity-white-more" type="radio" value="scotland">
                            <label class="govuk-label govuk-radios__label" for="ethnicity-white-more-2">
                              Irish | Gwyddelig 
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="ethnicity-white-more-3" name="ethnicity-white-more" type="radio" value="wales">
                            <label class="govuk-label govuk-radios__label" for="ethnicity-white-more-3">
                              Gypsy or Irish Traveller | Sipsiwn neu Deithwyr Gwyddelig 
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="ethnicity-white-more-4" name="ethnicity-white-more" type="radio" value="northern-ireland">
                            <label class="govuk-label govuk-radios__label" for="ethnicity-white-more-4">
                              Any other White background | Unrhyw gefndir Gwyn arall 
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="ethnicity-mixed" name="ethnicity" type="radio" value="mixed" {{ checked("ethnicity", "mixed") }} data-aria-controls="conditional-ethnicity-mixed">
                    <label class="govuk-label govuk-radios__label" id="ethnicity-mixed-label" for="ethnicity-mixed">
                      Mixed or multiple ethnic groups | Grwpiau ethnig cymysg neu lluosog 
                    </label>
                  </div> 
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ethnicity-mixed">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <div class="govuk-radios" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="ethnicity-mix-more" name="ethnicity-mix-more" type="radio" value="ethnicity-mix-more" {{ checked("ethnicity-mix-more") }}>
                            <label class="govuk-label govuk-radios__label" for="ethnicity-mix-more">
                              White and Black Caribbean | Gwyn a Du Caribïaidd 
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="ethnicity-mix-more-2" name="ethnicity-mix-more" type="radio" value="scotland">
                            <label class="govuk-label govuk-radios__label" for="ethnicity-mix-more-2">
                              White and Black African | Gwyn a Du Affricanaidd 
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="ethnicity-mix-more-3" name="ethnicity-mix-more" type="radio" value="wales">
                            <label class="govuk-label govuk-radios__label" for="ethnicity-mix-more-3">
                              White and Asian | Gwyn ac Asiaidd 
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="ethnicity-mix-more-4" name="ethnicity-mix-more" type="radio" value="northern-ireland">
                            <label class="govuk-label govuk-radios__label" for="ethnicity-mix-more-4">
                              Any other Mixed or multiple ethnic background | Unrhyw gefndir ethnig cymysg neu aml-ethnig arall 
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="ethnicity-asian" name="ethnicity" type="radio" value="asian" {{ checked("ethnicity", "asian") }} data-aria-controls="conditional-ethnicity-asian">
                    <label class="govuk-label govuk-radios__label" id="ethnicity-asian-label" for="ethnicity-asian">
                      Asian or Asian British | Asiaidd neu Asiaidd Prydeinig 
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ethnicity-asian">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <div class="govuk-radios" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved" name="deviceRemoved" type="radio" value="england">
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved">
                              Indian | Indiaidd 
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved-2" name="deviceRemoved" type="radio" value="scotland">
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved-2">
                              Pakistani | Pacistanaidd 
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved-3" name="deviceRemoved" type="radio" value="wales">
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved-3">
                              Bangladeshi | Bangladeshaidd 
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved-4" name="deviceRemoved" type="radio" value="northern-ireland">
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved-4">
                              Chinese | Tseiniaidd 
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved-5" name="deviceRemoved" type="radio" value="northern-ireland">
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved-5">
                              Any other Asian background | Unrhyw gefndir Asiaidd arall 
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="ethnicity-black" name="ethnicity" type="radio" value="black" {{ checked("ethnicity", "black") }} data-aria-controls="conditional-ethnicity-black">
                    <label class="govuk-label govuk-radios__label" id="ethnicity-black-label" for="ethnicity-black">
                      Black, Black British, Caribbean or African | Du, Du Prydeinig, Caribïaidd neu Affricanaidd 
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ethnicity-black">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <div class="govuk-radios" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved" name="deviceRemoved" type="radio" value="england">
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved">
                              Caribbean | Caribïaidd 
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved-2" name="deviceRemoved" type="radio" value="scotland">
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved-2">
                              African | Affricanaidd 
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved-3" name="deviceRemoved" type="radio" value="wales">
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved-3">
                              Any other Black, Black British, or Caribbean background | Unrhyw gefndir Du, Du Prydeinig neu Garibïaidd arall 
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="ethnicity-other" name="ethnicity" type="radio" value="other" {{ checked("ethnicity", "other") }} data-aria-controls="conditional-ethnicity-other">
                    <label class="govuk-label govuk-radios__label" id="ethnicity-other-label" for="ethnicity-other">
                      Other ethnic group | Grŵp ethnig arall 
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ethnicity-other">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <div class="govuk-radios" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved" name="deviceRemoved" type="radio" value="england">
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved">
                              Arab | Arabaidd 
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved-2" name="deviceRemoved" type="radio" value="scotland">
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved-2">
                              Any other ethnic group | Unrhyw grŵp ethnig arall 
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="ethnicity-not-known" name="ethnicity" type="radio" value="not-known" {{ checked("ethnicity", "not-known") }}>
                    <label class="govuk-label govuk-radios__label" id="ethnicity-not-known-label" for="ethnicity-not-known">
                      Not known | Ddim yn hysbys 
                    </label>
                  </div>
                  
                </div>
              </fieldset>
            </div>  

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="hazardous-implant-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Did the deceased have any hazardous implants? | A oedd gan yr ymadawedig unrhyw fewnblaniadau peryglus? 
                </legend>
                <div id="contribution-hint" class="govuk-hint">
                  For example, a pacemaker or radioactive device
                </div>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="hazardous-implant-yes" name="hazardous-implant" type="radio" value="yes"  data-aria-controls="conditional-hazardous-implant-yes"  {{ checked("hazardous-implant", "yes") }}>
                    <label class="govuk-label govuk-radios__label" for="hazardous-implant-yes">
                      Yes | Do
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-hazardous-implant-yes">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="device-type">
                        What type of device was it? | Pa fath o ddyfais oedd hi? 
                      </label>
                      <input class="govuk-input govuk-input--width-20" id="device-type" name="device-type" type="text" spellcheck="false" value="{{data['device-type'] or ['']}}">
                    </div>
                    <div class="govuk-form-group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                          Was the device removed? | A gafodd y ddyfais ei dynnu oddi arno? 
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved" name="deviceRemoved" type="radio" value="yes" {{ checked("deviceRemoved", "yes") }} >
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved">
                              Yes | Do
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved-2" name="deviceRemoved" type="radio" value="no" {{ checked("deviceRemoved", "no") }}>
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved-2">
                              No | Naddo
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved-3" name="deviceRemoved" type="radio" value="not-known" {{ checked("deviceRemoved", "not-known") }}>
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved-3">
                              Not known | Anhysbys
                            </label>
                          </div>
                          
                        </div>
                     
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="hazardous-implant-no" name="hazardous-implant" type="radio" value="no" {{ checked("hazardous-implant", "no") }} >
                    <label class="govuk-label govuk-radios__label"  for="hazardous-implant-no">
                      No | Naddo 
                    </label>      
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="hazardous-implant-not-known" name="hazardous-implant" type="radio" value="not-known" {{ checked("hazardous-implant", "not-known") }}>
                    <label class="govuk-label govuk-radios__label"  for="hazardous-implant-not-known">
                      Not known | Anhysbys
                    </label>      
                  </div>
                  
                  
                </div>
              </fieldset>
            </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" id="" aria-required="false">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Attending practitioner details 
            </legend>
            <div class="govuk-form-group">
              <label class="govuk-label" id="AttendPract" for="AttendPract">
                Full name and qualifications | Enw llawn a chymwysterau
              </label> 
              <input class="govuk-input" id="AttendPract" name="AttendPract" type="text" aria-required="false" value="{{data['AttendPract'] or ['']}}">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" id="AttendPractGMCNumber" for="AttendPractGMCNumber">
                GMC number | Rif GMC
              </label> 
              <input class="govuk-input govuk-input--width-10" id="AttendPractGMCNumber" name="AttendPractGMCNumber" type="text" aria-required="false" value="{{data['AttendPractGMCNumber'] or [''] }}">
            </div>
          </fieldset>
    </div> 

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" role="group" aria-describedby="Date-medical-certificate-signed_2">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xs">
          Date signed by attending practitioner | Dyddiad llofnodwyd gan ymarferydd sy'n mynychu 
        </legend>
        <div id="Date-medical-certificate-signed_2-hint" class="govuk-hint">
          For example, 27 3 2024
        </div>
        <div class="govuk-date-input" id="Date-medical-certificate-signed_2">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="Date-medical-certificate-signed-day_2">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="Date-medical-certificate-signed-day_2" name="Date-medical-certificate-signed-day_2" type="text" inputmode="numeric" value="{{data['Date-medical-certificate-signed-day_2'] or ""}}">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="Date-medical-certificate-signed-month_2">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="Date-medical-certificate-signed-month_2" name="Date-medical-certificate-signed-month_2" type="text" inputmode="numeric" value="{{data['Date-medical-certificate-signed-month_2'] or ""}}">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="Date-medical-certificate-signed-year_2">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="Date-medical-certificate-signed-year_2" name="Date-medical-certificate-signed-year_2" type="text" inputmode="numeric" value="{{data['Date-medical-certificate-signed-year_2'] or ""}}">
            </div>
          </div>
        </div>
      </fieldset>
</div>


        <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="" aria-required="false">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Medical examiner details
                </legend>
                <div class="govuk-form-group">
                  <label class="govuk-label" id="MedExaminer" for="MedExaminer">
                    Full name and qualifications | Enw llawn a chymwysterau 
                  </label> 
                  <input class="govuk-input" id="MedExaminer" name="MedExaminer" type="text" aria-required="false" value="{{data['MedExaminer'] or ['']}}">
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label" id="MedExaminerGMCNumber" for="MedExaminerGMCNumber">
                    GMC number | Rif GMC
                  </label> 
                  <input class="govuk-input govuk-input--width-10" id="MedExaminerGMCNumber" name="MedExaminerGMCNumber" type="text" aria-required="false" value="{{data['MedExaminerGMCNumber'] or ['']}}">
                </div>
              </fieldset>
        </div> 

        <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" role="group" aria-describedby="Date-medical-certificate-signed">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xs">
                  Date signed by medical examiner | Dyddiad llofnodwyd gan yr arholwr meddygol  
                </legend>
                <div id="Date-medical-certificate-signed-hint" class="govuk-hint">
                  For example, 27 3 2024
                </div>
                <div class="govuk-date-input" id="Date-medical-certificate-signed">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="Date-medical-certificate-signed-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="Date-medical-certificate-signed-day" name="Date-medical-certificate-signed-day" type="text" inputmode="numeric" value="{{data['Date-medical-certificate-signed-day'] or ""}}">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="Date-medical-certificate-signed-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="Date-medical-certificate-signed-month" name="Date-medical-certificate-signed-month" type="text" inputmode="numeric" value="{{data['Date-medical-certificate-signed-month'] or ""}}">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="Date-medical-certificate-signed-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="Date-medical-certificate-signed-year" name="Date-medical-certificate-signed-year" type="text" inputmode="numeric" value="{{data['Date-medical-certificate-signed-year'] or ""}}">
                    </div>
                  </div>
                </div>
              </fieldset>
        </div>

              
        <div class="govuk-button-group">
              <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
                Save and return
              </button>
        </div>
        </form>
      </div>
    
    </main>
  </div>

{% endblock %}
