{% extends "layouts/main.html" %}

{% block pageTitle %}
Create record - Medical information about this death – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype, not the real service.'
}) }}

{{ govukBackLink({
  text: "Back to record",
  href: "javascript:window.history.back()"
}) }}

<a class="govuk-link govuk-link--no-visited-state" href="" style="display: inline-block; position: relative; float: right; top: 15px;">View accented characters (opens in new window)</a>

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">Add record details</span>
        <h1 class="govuk-heading-l">
          Medical information about this death
        </h1>

        <form class="form" action="change-record-details" method="post">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="certificate">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Select the source of information for this death
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="certificate-1" name="certificate" type="radio" value="Attending practitioner certificate" {{ checked("certificate", "Attending practitioner certificate") }} data-aria-controls="conditional-attending-practitioner">
                  <label class="govuk-label govuk-radios__label" for="certificate-1">
                    Attending practitioner certificate
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-attending-practitioner">
                  <label class="govuk-label" for="AP-cert">
                    Select type of attending practitioner certificate
                  </label>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="a-p-standard" name="certificate-type" type="radio" value="Standard (Form 66 APC1)" {{ checked("certificate-type", "Standard (Form 66 APC1)") }} >
                    <label class="govuk-label govuk-radios__label" for="a-p-standard">
                      Standard (Form 66 APC1)
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="a-p-neonatal" name="certificate-type" type="radio" value="Neonatal (Form 65 APC2)" {{ checked("certificate-type", "Neonatal (Form 65 APC2)") }} >
                    <label class="govuk-label govuk-radios__label" for="a-p-neonatal">
                      Neonatal (Form 65 APC2)
                    </label>
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="certificateID-AP"><br>
                      Enter the certificate's certificate ID
                    </label>
                    <div id="event-name-hint" class="govuk-hint">
                      The certificate ID is the 14 digit number on the first page of the form
                    </div>
                    <input class="govuk-input govuk-input--width-10" id="certificateID-AP" name="certificateID-AP" type="text" value="{{data['certificateID-AP']}}">
                  </div>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="certificate-2" name="certificate" type="radio" value="Medical examiner certificate" checked {{ checked("certificate", "Medical examiner certificate") }} data-aria-controls="conditional-medical-examiner">
                  <label class="govuk-label govuk-radios__label" for="certificate-2">
                    Medical examiner certificate
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-medical-examiner">
                  <label class="govuk-label" for="ME-cert">
                    Select type of medical examiner certificate
                  </label>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="m-e-standard" name="certificate-type" type="radio" value="Standard (Form 66 MEC4)"  checked {{ checked("certificate-type", "Standard (Form 66 MEC4)") }} >
                    <label class="govuk-label govuk-radios__label" for="m-e-standard">
                      Standard (Form 66 MEC4)
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="m-e-neonatal" name="certificate-type" type="radio" value="Neonatal (Form 65 MEC3)" {{ checked("certificate-type", "Neonatal (Form 65 MEC3)") }} >
                    <label class="govuk-label govuk-radios__label" for="m-e-neonatal">
                      Neonatal (Form 65 MEC3)
                    </label>
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="certificateID-ME"><br>
                      Enter the certificate's certificate ID
                    </label>
                    <div id="event-name-hint" class="govuk-hint">
                      The certificate ID is the 14 digit number on the first page of the form
                    </div>
                    <input class="govuk-input govuk-input--width-10" id="certificateID-ME" name="certificateID-ME" type="text" value="{{data['certificateID-ME'] or ['123456789']}}">
                  </div>
                </div>

                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="CN2" name="certificate" type="radio" value="CN2" {{ checked("certificate", "CN2") }} data-aria-controls="conditional-CN2">
                    <label class="govuk-label govuk-radios__label" for="CN2">
                      Coroner notification 2 (CN2)
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-CN2">
                    <label class="govuk-label" for="informant-present">
                      Will an informant be present to register the death?
                    </label>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="cn2-informant-present" name="cn2" type="radio" value="cn2-informant-present" {{ checked("certificate", "cn2-informant-present") }} >
                      <label class="govuk-label govuk-radios__label" for="cn2-informant-present">
                        Yes - informant will be present
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="cn2-additional-information" name="cn2" type="radio" value="cn2-additional-information" {{ checked("certificate", "cn2-additional-information") }} >
                      <label class="govuk-label govuk-radios__label" for="cn2-additional-information">
                        No - additional information from the coroner
                      </label>
                    </div> 
                  </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="120A" name="certificate" type="radio" value="120A" {{ checked("certificate", "120A") }}>
                  <label class="govuk-label govuk-radios__label" for="120A">
                    Coroner's certificate after inquest adjourned (120A)
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="99revA" name="certificate" type="radio" value="99revA" {{ checked("certificate", "99revA") }}>
                  <label class="govuk-label govuk-radios__label" for="99revA">
                    Coroner's certificate after inquest (99revA)
                  </label>
                </div>

              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="MCCDissued-hint" id="MCCDissued-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Date source of information was received 
              </legend>
              <div class="govuk-form-group">
                <div id="MCCDissued-hint" class="govuk-hint">
                  For example, 23 11 2024
                </div>
                <div class="govuk-date-input" id="MCCDissued">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="MCCDissued-day">
                        Day
                      </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="MCCDissued-day" name="MCCDissued-day" value="{{data['MCCDissued-day'] or ['03']}}"  type="text" pattern="[0-9]*" inputmode="numeric" maxlength="2" aria-required="false">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="MCCDissued-month">
                        Month
                      </label>  
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="MCCDissued-month" name="MCCDissued-month" value="{{data['MCCDissued-month'] or ['10']}}" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="2" aria-required="false">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="MCCDissued-year">
                        Year
                      </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="MCCDissued-year" name="MCCDissued-year" value="{{data['MCCDissued-year'] or ['2024']}}" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="4" aria-required="false">
                    </div>
                  </div>
                </div>
              </div> 
            </fieldset>
          </div> 
          
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Continue"
            }) }}
          </div>

        </form>

      </div>
    </div>

    </main>
</div>
{% endblock %}
