{% extends "layouts/main.html" %}

{% block pageTitle %}
Check record details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype, not the real service.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

<a class="govuk-link govuk-link--no-visited-state" href="" style="display: inline-block; position: relative; float: right; top: 15px;">View accented characters (opens in new window)</a>

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

       <h1 class="govuk-heading-l">Record details</h1>
       <p class="govuk-body">The record was created using these details. Change the record details to update the information required for the registration.</p>
                
         <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Source of information  
              </dt>
              <dd class="govuk-summary-list__value">
                <p>{{ data["certificate"] }}</p>
                <p>{{ data["certificate-type"] }}</p>
                <p>{{ data["certificateID"] }}</p>
              </dd>
              <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="medical-information.html">Change<span class="govuk-visually-hidden"> name</span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date source of information received
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <p>{{ data['MCCDissued-day'] }} {{ data['MCCDissued-month'] }} {{ data['MCCDissued-year'] }}</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="medical-information.html">Change<span class="govuk-visually-hidden"> date of birth</span></a>
                    </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Age               
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{ data['age-bracket'] }}</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="age-of-deceased.html">Change<span class="govuk-visually-hidden"> contact details</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Registration language         
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">{{ data['bilingual'] }}</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="bilingual.html">Change<span class="govuk-visually-hidden"> contact details</span></a>
              </dd>
            </div>
            
          </dl>

          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-visually-hidden">Warning</span>
              Changing the record type may: 
              <ul>
                <li>
                  change type of information required for the registration 
                </li>
                <li>
                  remove questions and information which are no longer needed for registration
                </li>
              </ul>
            </strong>
          </div>

          <form action="../tasks/task-list" method="post" novalidate>
            <input type="hidden" name="answers-checked" value="true">
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Save changes
            </button>
          </form>
      </div>
    </div>

    </main>
</div>
{% endblock %}
