{% extends "layouts/main.html" %}

{% block pageTitle %}
Medical information – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype, not the real service.'
}) }}

  {{ govukBackLink({
  text: "Back to record",
  href: "../task-list.html"
}) }}


{% endblock %}

{% block content %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
  
  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
  
          <h1 class="govuk-heading-l">
            Medical information 
          </h1>
  
          <form class="form" action="../task-list" method="post">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="medical-information-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
                    Is the deceased's NHS number available?
                  </h3>
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="medical-information" name="medical-information" type="radio" value="yes" data-aria-controls="conditional-medical-information" value="{{data['medical-information']}}">
                    <label class="govuk-label govuk-radios__label" for="medical-information">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-medical-information">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="medical-information-by-email">
                        Enter NHS number
                      </label>
                      <input class="govuk-input govuk-!-width-one-third" id="medical-information-by-email" name="medical-informationByEmail" type="text" spellcheck="false" autocomplete="email">
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="medical-information-2" name="medical-information" type="radio" value="No" data-aria-controls="conditional-medical-information-2"  value="{{data['medical-information']}}">
                    <label class="govuk-label govuk-radios__label" for="medical-information-2">
                      No
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-medical-information-2">   
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-medical-information-3">  
                  </div>
                </div>
              </fieldset>
            </div>
            
            <div class="govuk-button-group">
              {{ govukButton({
                text: "Save and return"
              }) }}
            </div>
  
          </form>
  
        </div>
      </div>
  
      </main>
  </div>

{% endblock %}
