{% extends "layouts/main.html" %}

{% block pageTitle %}
Place of death – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype, not the real service.'
}) }}

  {{ govukBackLink({
  text: "Back to record",
  href: "javascript:window.history.back()"
}) }}

<a class="govuk-link govuk-link--no-visited-state" href="" style="display: inline-block; position: relative; float: right; top: 15px;">View accented characters (opens in new window)</a>

{% endblock %}

{% block content %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">
            Place of death
          </h1>
          
          <form class="form" action="../task-list?cannot-sent-to-ron-banner" method="post">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="placeOfDeath">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s ">
                  Where did the deceased die?
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="communal-establishment" name="place-of-death" type="radio" value="communal-establishment" {{ checked("placeOfDeath", "communal-establishment") }} data-aria-controls="conditional-communal-establishment">
                    <label class="govuk-label govuk-radios__label" for="communal-establishment">
                      Communal establishment
                    </label>
                    <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                      The deceased died in a hospital, care home, student halls or other managed residential accommodation.
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="home" name="place-of-death" type="radio" value="home" {{ checked("placeOfDeath", "home") }}>
                    <label class="govuk-label govuk-radios__label" for="home">
                      Home
                    </label>
                    <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                      The deceased died in their own home.  
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="in-transit" name="place-of-death" type="radio" value="in-transit" {{ checked("placeOfDeath", "in-transit") }}>
                    <label class="govuk-label govuk-radios__label" for="in-transit">
                      In transit
                    </label>
                    <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                      The deceased died in a vehicle. 
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="elsewhere" name="place-of-death" type="radio" value="elsewhere" {{ checked("placeOfDeath", "elsewhere") }}>
                    <label class="govuk-label govuk-radios__label" for="elsewhere">
                      Elsewhere
                    </label>
                    <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                      The deceased died somewhere else. 
                    </div> 
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="found-dead-on-arrival" name="place-of-death" type="radio" value="found-dead-on-arrival" {{ checked("placeOfDeath", "found-dead-on-arrival") }}>
                    <label class="govuk-label govuk-radios__label" for="found-dead-on-arrival">
                      Found dead on arrival 
                    </label>
                    <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                      The deceased was pronounced dead when they arrived at the hospital.
                    </div> 
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="found-dead" name="place-of-death" type="radio" value="found-dead" {{ checked("placeOfDeath", "found-dead") }}>
                    <label class="govuk-label govuk-radios__label" for="found-dead">
                      Found dead
                    </label>
                    <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                      It's not known where the deceased died, only where body was found.
                    </div> 
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden no-border" id="conditional-communal-establishment">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-padding-top-6">
                        Enter place of death
                      </legend>
                      <div class="govuk-form-group govuk-!-margin-bottom-3">
                        <label class="govuk-label govuk-label--xs" id="MCCDAddressLine1-label" for="MCCDAddressLine1">
                          Search by communal establishment name
                        </label>
                        
                        <select class="govuk-select" name="choose" id="choose">
                          <option value="territory1"></option>
                          <option value="territory1">University Hospital of Wales, Heath Park Way, Cardiff CF14 4XW</option>
                          <option value="territory1">The Grange University Hospital, Caerleon Rd, Llanfrechfa, Cwmbran NP44 8YN</option>
                          <option value="territory1">Glangwili Hospital, Dolgwili Rd, Carmarthen SA31 2AF</option>
                          <option value="territory1">Withybush General Hospital, Fishguard Rd, Haverfordwest SA61 2PZ</option>
                          <option value="territory1">Glan Clwyd Hospital,Rhuddlan Rd, Bodelwyddan, Rhyl LL18 5UJ</option>
                          <option value="territory1">Royal Glamorgan Hospital, Ynysmaerdy, Pontyclun CF72 8XR</option>
                          <option value="territory1">Neath Port Talbot Hospital, Baglan Way, Port Talbot SA12 7BX</option>
                          <option value="territory1">University Hospital Llandough, Penlan Rd, Llandough, Penarth CF64 2XX</option>
                          <option value="territory9">Princess of Wales Hospital, Bridgend, CF31 1RQ</option>
                          <option value="territory10">Llandaff House, Conway Road, Cardiff, CF11 9NT</option>
                        </select>
                      </div>

                      <div id="addressContainer"></div> 

                    
                    <script>

                      const selectElement = document.getElementById('choose');
                      console.log(selectElement);
                      selectElement.addEventListener('change', (event) => {
                        const selectedValue = event.target.value;
                        console.log(selectedValue);

                        var htmlBlock = htmlBlocks[selectedValue];
                        var container = document.getElementById('addressContainer');
                        container.innerHTML = htmlBlock;
                      })
                    
                      var PrincessOfWales = `
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-padding-top-8">
                          Address
                        </legend>
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="flat-number">
                            Flat number or name
                          </label>
                          <input class="govuk-input govuk-!-width-two-thirds" id="flat-number" name="flat-number" type="text">
                        </div>
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="building-name">
                            Building name
                          </label>
                          <input class="govuk-input govuk-!-width-two-thirds" id="building-name" name="building-name" type="text" alue="{{data['building-name'] or "Princess of Wales Hospital"}}">
                        </div>
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="building-number">
                            Building number
                          </label>
                          <input class="govuk-input govuk-!-width-two-thirds" id="building-number" name="building-number" type="text">
                        </div>
                        <div class="govuk-form-group">
                        <label class="govuk-label" for="address-line-1">
                          Street address 1
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="address-line-1" name="AddressLine1" type="text">
                        </div>
                        <div class="govuk-form-group">
                        <label class="govuk-label" for="address-line-2">
                          Street address 2
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="address-line-2" name="AddressLine2" type="text">
                        </div>
                        <div class="govuk-form-group">
                        <label class="govuk-label" for="address-line-3">
                          Street address 3
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="address-line-3" name="AddressLine3" type="text">
                        </div>
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="address-line-4">
                          Street address 4
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="-address-line-4" name="AddressLine4" type="text">
                      </div>
                       <div class="govuk-form-group">
                        <label class="govuk-label" for="address-town">
                          Town or city
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="addressTown" type="text" value="{{data['addressTown'] or "Bridgend"}}">
                      </div>
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="address-county">
                          County
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="addressCounty" type="text">
                      </div>
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="address-postcode">
                          Postcode
                        </label>
                        <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" value="{{data['addressPostcode'] or "CF31 1RQ"}}">
                      </div>
                    </fieldset>
                      `
                      ;

                      var llandaffHouse
                      = `
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-padding-top-8">
                          Address
                        </legend>
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="flat-number">
                            Flat number or name
                          </label>
                          <input class="govuk-input govuk-!-width-two-thirds" id="flat-number" name="flat-number" type="text">
                        </div>
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="building-name">
                            Building name
                          </label>
                          <input class="govuk-input govuk-!-width-two-thirds" id="building-name" name="building-name" type="text" value="{{data['building-name'] or "Llandaff House"}}">
                        </div>
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="building-number">
                            Building number
                          </label>
                          <input class="govuk-input govuk-!-width-two-thirds" id="building-number" name="building-number" type="text">
                        </div>
                        <div class="govuk-form-group">
                        <label class="govuk-label" for="address-line-1">
                          Street address 1
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="address-line-1" name="AddressLine1" type="text">
                        </div>
                        <div class="govuk-form-group">
                        <label class="govuk-label" for="address-line-2">
                          Street address 2
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="address-line-2" name="AddressLine2" type="text" value="{{data['AddressLine2'] or "Conway Road"}}">
                        </div>
                        <div class="govuk-form-group">
                        <label class="govuk-label" for="address-line-3">
                          Street address 3
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="address-line-3" name="AddressLine3" type="text">
                        </div>
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="address-line-4">
                          Street address 4
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="-address-line-4" name="AddressLine4" type="text">
                      </div>
                       <div class="govuk-form-group">
                        <label class="govuk-label" for="address-town">
                          Town or city
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="addressTown" type="text" value="{{data['addressTown'] or "Cardiff"}}">
                      </div>
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="address-county">
                          County
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="addressCounty" type="text">
                      </div>
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="address-postcode">
                          Postcode
                        </label>
                        <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" value="{{data['addressPostcode'] or "CF11 9NT"}}">
                      </div>
                    </fieldset>
                      `
                      ;

                      var empty = `
                      <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s govuk-!-padding-top-8">
                          Address
                        </legend>
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="flat-number">
                            Flat number or name
                          </label>
                          <input class="govuk-input govuk-!-width-two-thirds" id="flat-number" name="flat-number" type="text">
                        </div>
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="building-name">
                            Building name
                          </label>
                          <input class="govuk-input govuk-!-width-two-thirds" id="building-name" name="building-name" type="text" value="">
                        </div>
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="building-number">
                            Building number
                          </label>
                          <input class="govuk-input govuk-!-width-two-thirds" id="building-number" name="building-number" type="text">
                        </div>
                        <div class="govuk-form-group">
                        <label class="govuk-label" for="address-line-1">
                          Street address 1
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="address-line-1" name="AddressLine1" type="text">
                        </div>
                        <div class="govuk-form-group">
                        <label class="govuk-label" for="address-line-2">
                          Street address 2
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="address-line-2" name="AddressLine2" type="text">
                        </div>
                        <div class="govuk-form-group">
                        <label class="govuk-label" for="address-line-3">
                          Street address 3
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="address-line-3" name="AddressLine3" type="text">
                        </div>
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="address-line-4">
                          Street address 4
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="-address-line-4" name="AddressLine4" type="text">
                      </div>
                       <div class="govuk-form-group">
                        <label class="govuk-label" for="address-town">
                          Town or city
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="addressTown" type="text" value="">
                      </div>
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="address-county">
                          County
                        </label>
                        <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="addressCounty" type="text">
                      </div>
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="address-postcode">
                          Postcode
                        </label>
                        <input class="govuk-input govuk-input--width-10" id="address-postcode" name="addressPostcode" type="text" value="">
                      </div>
                    </fieldset>
                      `
                      ;

                      var htmlBlocks = {
                      "territory9": PrincessOfWales,
                      "territory10": llandaffHouse,
                      "territory1": empty,  
                        };
            
                      </script>

                      
                      <p class="govuk-body govuk-!-padding-top-8">
                        <a href="#" class="govuk-link govuk-link--no-visited-state">Search by postcode</a>
                      </p>
                      <p class="govuk-body">
                        <a href="#" class="govuk-link govuk-link--no-visited-state">Enter address manually</a>
                      </p>
      
                      <div class="govuk-form-group govuk-!-margin-top-8">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s"> 
                            How long did the deceased spend in a communal establishment? 
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                            <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                              Under 6 months
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                              6 months or over
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                              Not known
                            </label>
                          </div>
                        </div>
                    </div>
      
                  </fieldset>
                  </div>
                  </div>
                </div>
              </fieldset>
            </div>



          

            
            <div class="govuk-button-group">
              {{ govukButton({
                text: "Save and return"
              }) }}
            </div>
  
          </form>
  
        </div>
      </div>
  
      </main>
  </div>

{% endblock %}
