{% extends "layouts/main.html" %}

{% block pageTitle %}
Cause of death – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype, not the real service.'
}) }}

  {{ govukBackLink({
  text: "Back to record",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
  
  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">
            Cause of death 
          </h1>

          <form class="form" action="/task-list" method="post">
            <h2 class="govuk-heading-m">
              Side 1
            </h2>

              <fieldset class="govuk-fieldset" role="group" aria-describedby="MCCDAlive-hint" id="MCCDAlive-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Date certifying practitioner last saw them alive
                </legend>
                <div class="govuk-form-group">
                  <div id="MCCDDAlive-hint" class="govuk-hint">
                    For example, 12 11 2007
                  </div>
                  <div class="govuk-date-input" id="MCCDAlive">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="MCCDAlive-day">
                          Day
                        </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="MCCDAlive-day" name="MCCDAlive-day" value="{{data['MCCDAlive-day']}}"  type="text" pattern="[0-9]*" inputmode="numeric" maxlength="2" autocomplete="bday-day" aria-required="false">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="MCCDAlive-month">
                          Month
                        </label>  
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="MCCDAlive-month" name="MCCDAlive-month" value="{{data['MCCDAlive-month']}}" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="2" autocomplete="bday-month" aria-required="false">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="MCCDDAlive-year">
                          Year
                        </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="MCCDAlive-year" name="MCCDAlive-year" value="{{data['MCCDAlive-year']}}" type="text" pattern="[0-9]*" inputmode="numeric" maxlength="4" autocomplete="bday-year" aria-required="false">
                      </div>
                    </div>
                  </div>
                 </div> 
              </fieldset>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="MCCDLetter-fieldset" aria-required="false">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Which letter is circled on the medical certificate?
                </legend>
                <div class="govuk-radios" data-module="govuk-radios" value="">  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="MCCDLetter-a" name="MCCDLetter" type="radio" value="a" {{ checked("MCCDLetter", "a") }}>
                    <label class="govuk-label govuk-radios__label" id="MCCDLetter-a-label" for="MCCDLetter-a">
                      A – "Seen after death by me"
                    </label>      
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="MCCDLetter-b" name="MCCDLetter" type="radio" value="b" {{ checked("MCCDLetter", "b") }}>
                    <label class="govuk-label govuk-radios__label" id="MCCDLetter-b-label" for="MCCDLetter-b">
                    B – "Seen after death by another medical practitioner but not by me"
                    </label>
                  </div> 
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="MCCDLetter-c" name="MCCDLetter" type="radio" value="c" {{ checked("MCCDLetter", "c") }}>
                    <label class="govuk-label govuk-radios__label" id="MCCDLetter-c-label" for="MCCDLetter-c">
                    C – "Not seen after death by a medical practitioner"
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <fieldset class="govuk-fieldset" id="MCCDcause-of-death" aria-required="false">

              {{ govukTextarea({
                name: "CauseOfDeath-a",
                value: data['CauseOfDeath-a'],
                id: "CauseOfDeath-a",
                label: {
                  text: "(a) Main disease or conditions in infant",
                  classes: "govuk-label--xs",
                  isPageHeading: true
                }
              }) }}

              <div class="govuk-form-group">
                <label class="govuk-label" id="TimeBetweenOnsetAndDeath" for="TimeBetweenOnsetAndDeath">
                  Time between onset and death
                </label>
              <input class="govuk-input govuk-input--width-2" id="TimeBetweenOnsetAndDeath" name="TimeBetweenOnsetAndDeath" type="text" value="{{data['TimeBetweenOnsetAndDeath']}}">
              </div>

              {{ govukSelect({
                id: "TimeBetweenOnsetAndDeathUnit",
                name: "TimeBetweenOnsetAndDeathUnit",
                value: data['TimeBetweenOnsetAndDeathUnit'],
                label: {
                  text: "Choose time unit"
                },
                items: [
                  {
                    value: "choose",
                    text: "Choose time unit",
                    selected: true
                  },
                  {
                    value: "minutes",
                    text: "Minutes"
                  },
                  {
                    value: "hours",
                    text: "Hours"
                  },
                  {
                    value: "days",
                    text: "Days"
                  },
                  {
                    value: "not-stated",
                    text: "Not stated"
                  }
                ]
              }) }}

                <p class="govuk-body">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">(b). Add another disease or condition in infant (optional)</a>
                </p>

                <h2 class="govuk-heading-s">Cause of death - maternal diseases or conditions</h2>
                
                {{ govukTextarea({
                  name: "CauseOfDeath-c",
                  value: data['CauseOfDeath-c'],
                  id: "CauseOfDeath-c",
                  label: {
                    text: "(c) Maternal disease or condition affecting infant",
                    classes: "govuk-label--xs",
                    isPageHeading: true
                  }
                }) }}

                <p class="govuk-body">
                  <a href="#" class="govuk-link govuk-link--no-visited-state">(d). Add other maternal diseases or conditions affecting infant (optional)</a>
                </p>
                <p class="govuk-body">
                  <a href="#" class="govuk-link govuk-link--no-visited-state">(e). Add other relevant causes (optional)</a>
                </p>
                
            </fieldset>

            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--s" id="CertifyingPractitioner" for="CertifyingPractitioner">
                Certifying practitioner’s full name and qualifications
              </label>
              <input class="govuk-input govuk-!-width-one-full" id="CertifyingPractitioner" name="CertifyingPractitioner" type="text" aria-required="false" value="{{data['CertifyingPractitioner']}}">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--s" id="GMCNumber" for="GMCNumber">
                GMC number (optional)
              </label> 
              <input class="govuk-input govuk-input--width-10" id="GMCNumber" name="GMCNumber" type="text" aria-required="false" value="{{data['GMCNumber']}}">
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="MCCDDiedInHospital-fieldset" aria-required="false">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Died in a hospital? (optional)
                </legend>
                <div class="govuk-radios govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="MCCDDiedInHospital-true" name="MCCDDiedInHospital" type="radio" value="true" aria-controls="conditional-MCCDDiedInHospital-true" aria-expanded="false" {{ checked("MCCDDiedInHospital", "true") }}>
                    <label class="govuk-label govuk-radios__label" id="MCCDDiedInHospital-true-label" for="MCCDDiedInHospital-true">
                      Yes
                    </label>
                  </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-MCCDDiedInHospital-true">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" id="MCCDConsultantFullName-label" for="MCCDConsultantFullName">
                      Consultant’s full name
                    </label>
                    <input class="govuk-input govuk-!-width-one-half" id="MCCDConsultantFullName" name="MCCDConsultantFullName" type="text" aria-required="false" value="{{data['MCCDConsultantFullName']}}">
                  </div>
                </div> 
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="MCCDDiedInHospital-false" name="MCCDDiedInHospital" type="radio" value="false" {{ checked("MCCDDiedInHospital", "false") }}>
                  <label class="govuk-label govuk-radios__label" id="MCCDDiedInHospital-false-label" for="MCCDDiedInHospital-false">
                    No
                  </label>
                </div>
              </fieldset>
            </div>

            <h2 class="govuk-heading-m">
              Side 2
            </h2>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="FurtherInformation-fieldset" aria-required="false">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Might the attending practitioner apply to give further information later (box B)?
                </legend>
                <div class="govuk-radios govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="FurtherInformation-true" name="FurtherInformation" type="radio" value="true" {{ checked("FurtherInformation", "true") }}>
                    <label class="govuk-label govuk-radios__label" id="FurtherInformation-true-label" for="FurtherInformation-true">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="FurtherInformation-false" name="FurtherInformation" type="radio" value="false" {{ checked("FurtherInformation", "false") }}>
                    <label class="govuk-label govuk-radios__label" id="FurtherInformation-false-label" for="FurtherInformation-false">
                      No
                    </label>  
                  </div>
                </div>
              </fieldset>
            </div>
              
            <div class="govuk-button-group">
              {{ govukButton({
                text: "Save"
              }) }}
            </div>
  
          </form>
  
        </div>
      </div>
  
      </main>
  </div>

{% endblock %}
