{% extends "layouts/main.html" %}

{% block pageTitle %}
Name, age and date of death – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype, not the real service.'
}) }}

  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
  
  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
  
          <h1 class="govuk-heading-l">
            Name, age and date of death
          </h1>
  
          <form class="form" action="/task-list" method="post">

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="deceasedSex-fieldset" aria-required="false">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Sex
              </legend>
              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="deceasedSex-Female" name="deceasedSex" type="radio" value="Female" aria-controls="conditional-deceasedSex-Female" aria-expanded="false">
                  <label class="govuk-label govuk-radios__label" id="deceasedSex-Female-label" for="deceasedSex-Female">
                    Female
                  </label>   
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-deceasedSex-Female">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-label" id="deceasedMaidenName-label" for="deceasedMaidenName">
                      Maiden name
                    </label>
                    <input class="govuk-input govuk-!-width-one-half" id="deceasedMaidenName" name="deceasedMaidenName" type="text" aria-required="false">
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="deceasedSex-Male" name="deceasedSex" type="radio" value="Male">
                  <label class="govuk-label govuk-radios__label" id="deceasedSex-Male-label" for="deceasedSex-Male">
                    Male
                  </label>
                </div> 
              </div>
            </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="other-names-fieldset" aria-required="false">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Are there any other known names?
              </legend>
              <div class="govuk-radios govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="other-names-yes" name="other-names" type="radio" value="yes" aria-controls="conditional-other-names" aria-expanded="false">
                  <label class="govuk-label govuk-radios__label" id="other-names-yes-label" for="other-names-yes">
                    Yes
                  </label>   
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-other-names">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-label" id="other-names-yes-label" for="other-names-name">
                      Other name or names
                    </label>
                    <input class="govuk-input govuk-!-width-one-half" id="other-names" name="other-names" type="text" aria-required="false">
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="other-names-no" name="other-names" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" id="other-names-no" for="other-names-no">
                    No
                  </label>
                </div> 
              </div>
            </fieldset>
            </div>
            
            {% from "govuk/components/button/macro.njk" import govukButton %}
  
            <div class="govuk-button-group">
              {{ govukButton({
                text: "Save"
              }) }}
            </div>
  
          </form>
  
        </div>
      </div>
  
      </main>
  </div>

{% endblock %}
