{% extends "layouts/main.html" %}

{% block pageTitle %}
Parents' details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype, not the real service.'
}) }}

  {{ govukBackLink({
  text: "Back to record",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
  
  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
  
          <h1 class="govuk-heading-l">
            Parents’ details
          </h1>
  
          <form class="form" action="/task-list" method="post">

            <h2 class="govuk-heading-m">
              Mother’s details
            </h2>

            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--xs" for="mother-name">
                Full name (optional)
              </label>
              <input class="govuk-input govuk-!-width-one-half" id="mother-name" name="motherName" type="text" value="{{data['motherName']}}">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--xs" for="mother-occupation">
                Occupation (optional)
              </label>
              <input class="govuk-input govuk-!-width-one-half" id="mother-occupation" name="motherOccupation" type="text" value="{{data['motherOccupation']}}">
            </div>

            <h2 class="govuk-heading-m">
              Father or second parent’s details
            </h2>

            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--xs" for="father-name">
                Full name (optional)
              </label>
              <input class="govuk-input govuk-!-width-one-half" id="father-name" name="fatherName" type="text" value="{{data['fatherName']}}">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label govuk-label--xs" for="father-occupation">
                Occupation (optional)
              </label>
              <input class="govuk-input govuk-!-width-one-half" id="father-occupation" name="fatherOccupation" type="text" value="{{data['fatherOccupation']}}">
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="whichParent" aria-required="false">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Which parent were they? (optional)
                </legend>
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="whichParent-father" name="whichParent" type="radio" value="Father" {{ checked("whichParent", "Father") }} aria-expanded="false">
                    <label class="govuk-label govuk-radios__label" id="whichParent-father" for="whichParent-father">
                      Father
                    </label>   
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="whichParent-secondParent" name="whichParent" type="radio" value="SecondParent" {{ checked("whichParent", "SecondParent") }}>
                    <label class="govuk-label govuk-radios__label" id="whichParent-secondParent" for="whichParent-secondParent">
                      Second parent
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>

            <div class="govuk-button-group">
              {{ govukButton({
                text: "Save"
              }) }}
            </div>
  
          </form>
  
        </div>
      </div>
  
      </main>
  </div>

{% endblock %}
