{% extends "layouts/main.html" %}

{% block pageTitle %}
Select the registrar’s designation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype, not the real service.'
}) }}

  {{ govukBackLink({
  text: "Back to record",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">
            Select the registrar’s designation 
          </h1>
          <form class="form" action="/task-list" method="post">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="designation-registrar" name="designation" type="radio" value="registrar" {{checked("designation", "registrar")}}>
                    <label class="govuk-label govuk-radios__label" for="designation-registrar">
                      Registrar
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="designation-interim-egistrar" name="designation" type="radio" value="interim-registrar" {{checked("designation", "interim-registrar")}}>
                    <label class="govuk-label govuk-radios__label" for="designation-interim-registrar">
                      Interim Registrar
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="designation-deputy-registrar" name="designation" type="radio" value="deputy-registrar" {{checked("designation", "deputy-registrar")}}>
                    <label class="govuk-label govuk-radios__label" for="designation-deputy-registrar">
                      Deputy Registrar
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="designation-deputy-interim-registrar" name="designation" type="radio" value="deputy-interim-registrar" {{checked("designation", "deputy-interim-registrar")}}>
                    <label class="govuk-label govuk-radios__label" for="designation-deputy-interim-registrar">
                      Deputy Interim Registrar
                    </label>
                  </div>
                  
                </div>
              </fieldset>
            </div>
  
            <div class="govuk-button-group">
              {{ govukButton({
                text: "Save"
              }) }}
            </div>
  
          </form>
  
        </div>
      </div>
  
      </main>
  </div>

{% endblock %}
