{% extends "layouts/main.html" %}

{% block pageTitle %}
Select the registrar’s designation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype, not the real service.'
}) }}

  {{ govukBackLink({
  text: "Back to record",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">
            Register page
          </h1>

          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            View and print the register page
          </button>

          <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-visually-hidden">Warning</span>
              Show the register page to the informant to confirm the information is correct
            </strong>
          </div>

          <h2 class="govuk-heading-m">
            Signature details
          </h2>

          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="informant-signature">
                Informant’s signature, as written
              </label>
            </h1>
            <input class="govuk-input" id="informant-signature" name="informantSignature" type="text">
          </div>
      
          <form class="form" action="/task-list" method="post">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="designation-registrar" name="designation" type="radio" value="registrar">
                    <label class="govuk-label govuk-radios__label" for="designation-registrar">
                      Registrar
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="designation-interim-egistrar" name="designation" type="radio" value="interim-registrar">
                    <label class="govuk-label govuk-radios__label" for="designation-interim-registrar">
                      Interim Registrar
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="designation-deputy-registrar" name="designation" type="radio" value="deputy-registrar">
                    <label class="govuk-label govuk-radios__label" for="designation-deputy-registrar">
                      Deputy Registrar
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="designation-deputy-interim-registrar" name="designation" type="radio" value="deputy-interim-registrar">
                    <label class="govuk-label govuk-radios__label" for="designation-deputy-interim-registrar">
                      Deputy Interim Registrar
                    </label>
                  </div>
                  
                </div>
              </fieldset>
            </div>


            {% from "govuk/components/button/macro.njk" import govukButton %}
  
            <div class="govuk-button-group">
              {{ govukButton({
                text: "Save"
              }) }}
            </div>
  
          </form>
  
        </div>
      </div>
  
      </main>
  </div>

{% endblock %}
