{% extends "layouts/main.html" %}

{% block pageTitle %}
  Task list – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype, not the real service.'
}) }}

{{ govukBackLink({
  text: "Back to create record",
  href: "create-new-record.html"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{data['deceasedLastName']}}, {{data['deceasedFirstName']}} {{data['deceasedMiddleName']}}</h1>

      <h2 class="govuk-heading-m">Appointment</h2>

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/appointment-information.html" aria-describedby="">
              Appointment information
            </a>
          </div>
          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--green">
              Optional
            </strong>
          </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/uploads.html" aria-describedby="">
              Uploads
            </a>
          </div>
          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--green">
              Optional
            </strong>
          </div>
        </li>
      </ul>

      <h2 class="govuk-heading-m">Circumstances of death</h2>

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/place-of-death.html" aria-describedby="">
              Place of death
            </a>
          </div>

          {% if (data['place-of-death'] and data['MCCDAddressLine1']) %}

          <div class="govuk-task-list__status" id="">
            Completed
          </div>

          {% else %}

          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          </div>

          {% endif %}

        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/cause-of-death.html" aria-describedby="">
              Cause of death
            </a>
          </div>
          {% if (data['MCCDAlive-day'] and data['MCCDAlive-month']) and data['MCCDAlive-year']
          and data['MCCDLetter'] and data['CauseOfDeath-a'] and data['TimeBetweenOnsetAndDeath'] 
          and data['CauseOfDeath-c'] and data['CertifyingPractitioner'] and data['FurtherInformation'] %}

          <div class="govuk-task-list__status" id="">
            Completed
          </div>

          {% else %}

          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          </div>

          {% endif %}
        </li>
      </ul>

      <h2 class="govuk-heading-m">Informant’s details</h2>

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/informant-details.html" aria-describedby="">
              Informant’s details
            </a>
          </div>

          {% if (data['informantLastName'] and data['informantCapitaliseLastNames'] and data['informantQualification'] and data['informantLiveWithDeceased'])%}

          <div class="govuk-task-list__status" id="">
            Completed
          </div>

          {% else %}

          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          </div>

          {% endif %}

        </li>
      </ul>

      <h2 class="govuk-heading-m">Deceased’s details</h2>

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/name-age-date-of-death.html" aria-describedby="">
              Name and date of death
            </a>
          </div>

          {% if (data['deceasedFirstName'] and data['deceasedLastName'] and data['name-order'] and data['day-of-death'] and data['month-of-death'] and data['year-of-death'])%}

          <div class="govuk-task-list__status" id="">
            Completed
          </div>

          {% else %}

          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          </div>

          {% endif %}

        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/personal-details.html" aria-describedby="">
              Personal details
            </a>
          </div>

          {% if (data['deceasedSex'] and data['deceasedUsualAddress'] and data['age']
          and data['deceasedCountryOfBirth'] and data['SpanishNational'])%}

          <div class="govuk-task-list__status" id="">
            Completed
          </div>

          {% else %}

          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          </div>

          {% endif %}

        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/parents-details.html" aria-describedby="">
              Parents’ details
            </a>
          </div>

          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--green">
              Optional
            </strong>
          </div>

        </li>
      </ul>

      <h2 class="govuk-heading-m">Statistical information</h2>

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">

          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/voluntary-statistics.html" aria-describedby="">
              Voluntary statistics
            </a>
          </div>

          {% if (data['additional-industry-mother'] and data['employment-mother'] 
          and data['additional-industry-second-parent'] and data['employment-second-parent'])%}

          <div class="govuk-task-list__status" id="">
            Completed
          </div>

          {% else %}

          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          </div>

          {% endif %}

        </li>
      </ul>

      <h2 class="govuk-heading-m">Submit the registration</h2>

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">

          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/registrars-designation.html" aria-describedby="company-details-1-status">
              Registrar’s designation 
            </a>
          </div>

          {% if (data['designation']) %}

          <div class="govuk-task-list__status" id="">
            Completed
          </div>

          {% else %}

          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          </div>

          {% endif %}

        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">

          {% if (data['informantSignature'] and data['signature-annotation'] and data['registrarSignature'])%}

          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/register-page.html" aria-describedby="">
              Register page and signature
            </a>
          </div>

          <div class="govuk-task-list__status" id="">
            Completed
          </div>

          {% elif (data['designation']) %}

          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/register-page.html" aria-describedby="">
              Register page and signature
            </a>
          </div>

          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete 
            </strong>
          </div>

          {% else %}

          <div class="govuk-task-list__name-and-hint">
              Register page and signature
          </div>

          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--grey">
              Cannot start yet
            </strong>
          </div>

          {% endif %}

        </li>
      </ul>


      <div class="govuk-!-margin-top-5">
        {{ govukButton
          ({ 
          text: "Send to RON", 
          href: "confirmation-page.html" }) }}
      </div>     

    </div>
  </div>
{% endblock %}
