{% extends "layouts/main.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype, not the real service.'
}) }}

{{ govukBackLink({
  text: "Back to create record",
  href: "create-new-record.html"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{data['deceasedLastName']}}, {{data['deceasedFirstName']}} {{data['deceasedMiddleName']}}</h1>

      <h2 class="govuk-heading-m">Appointment</h2>

      {% set completedStatus = {
        text: "Completed"
      } %}

      {% set incompleteStatus = {
        tag: {
          text: "Incomplete",
          classes: "govuk-tag--blue"
        }
      } %}
      {% set optionalStatus = {
        tag: {
          text: "Optional",
          classes: "govuk-tag--green"
        }
      } %}
      {% set cannotstartStatus = {
        tag: {
          text: "Cannot start yet",
          classes: "govuk-tag--grey"
        }
      } %}

      {# To switch between the completed and incomplete statues, use some inline logic within the component below, like this: "status: (completedStatus if ... else incompleteStatus)" #}

      {{ govukTaskList({
        idPrefix: "first-section",
        items: [
          {
            title: {
              text: "Appointment information"
            },
            href: "tasks/appointment-information.html",
            status: optionalStatus
          },
          {
            title: {
              text: "Uploads"
            },
            href: "tasks/uploads.html",
            status: optionalStatus
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Circumstances of death</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Place of death"
            },
            href: "tasks/place-of-death.html",
            status: incompleteStatus
          },
          {
            title: {
              text: "Cause of death"
            },
            href: "tasks/cause-of-death.html",
            status: incompleteStatus
          }
          
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Informant’s details</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Informant’s details"
            },
            href: "tasks/informant-details.html",
            status: incompleteStatus
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Deceased's details</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Name, age and date of death"
            },
            href: "tasks/name-age-date-of-death.html",
            status: incompleteStatus
          },
          {
            title: {
              text: "Personal details"},
              hint: {
              },
            href: "tasks/personal-details.html",
            status: incompleteStatus
          },
          {
            title: {
              text: "Parents’ details"
            },
            href: "tasks/parents-details.html",
            status: incompleteStatus
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Statistical information</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Voluntary statistics"
            },
            href: "tasks/voluntary-statistics.html",
            status: cannotstartStatus
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Submit the registration</h2>

      {{ govukTaskList({
        idPrefix: "second-section",
        items: [
          {
            title: {
              text: "Registrar’s designation"
            },
            href: "tasks/registrars-designation.html",
            status: cannotstartStatus
          },
          {
            title: {
              text: "Register page and signature"
            },
            href: "#",
            status: cannotstartStatus
          }
        ]
      }) }}

      <div class="govuk-!-margin-top-5">
        {{ govukButton({ text: "Submit", href: "#" }) }}
      </div>     

    </div>
  </div>
{% endblock %}
