{% extends "layouts/main.html" %}

{% block pageTitle %}
  Task list – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype, not the real service.'
}) }}

{{ govukBackLink({
  text: "Back to create record",
  href: "create-new-record.html"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if (data['cannot-sent-to-ron-banner'] == "true") %}
  
      <div class="govuk-notification-banner govuk-!-margin-bottom-6" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Cannot send to RON
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__heading">
            You must fill in all the registration details before you can send to RON
          </h3>
        </div>
      </div>

      {% endif %}


      <h1 class="govuk-heading-xl">{{data['deceasedLastName'] or "Nicolaou"}}, {{data['deceasedFirstName'] or "Baby"}} {{data['deceasedMiddleName']}}</h1>

      <h2 class="govuk-heading-m">Pre-appointment information</h2>

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/appointment-information.html" aria-describedby="">
              Prepare for appointment
            </a>
          </div>
          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--green">
              Optional
            </strong>
          </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/uploads.html" aria-describedby="">
              Upload certificates and documents
            </a>
          </div>
          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--green">
              Optional
            </strong>
          </div>
        </li>
      </ul>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          You must ask the informant all available questions to complete the registration. This includes fields which are not labelled as required.
        </strong>
      </div>

      <h2 class="govuk-heading-m">Circumstances of death</h2>

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/place-of-death.html" aria-describedby="">
              Place of death
            </a>
          </div>

          {% if (data['place-of-death'] and data['MCCDAddressLine1']) and data['registration-confirmation'] %}

            <div class="govuk-task-list__status" id="">
              Completed
            </div>

          {% else %}

          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--yellow govuk-tag-wider">
            For informant review</strong>
          </div>
            

          {% endif %}

        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/cause-of-death.html" aria-describedby="">
              Cause of death
            </a>
          </div>

            <div class="govuk-task-list__status" id="">
              Completed
            </div>

        </li>
      </ul>

      <h2 class="govuk-heading-m">Informant’s details</h2>

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/informant-details.html" aria-describedby="">
              Informant’s details
            </a>
          </div>

          {% if (data['informantLastName'] and data['informantCapitaliseLastNames'] and data['informantQualification'] 
          and data['informantLiveWithDeceased'] and data['registration-confirmation1'])%}

            <div class="govuk-task-list__status" id="">
              Completed
            </div>

          {% elif (data['informantLastName'] and data['informantCapitaliseLastNames'] and data['informantQualification'] and data['informantLiveWithDeceased']) %}

            <div class="govuk-task-list__status" id="">
              <strong class="govuk-tag govuk-tag--yellow govuk-tag-wider">
              For informant review</strong>
            </div>

          {% else %}

            <div class="govuk-task-list__status" id="">
              <strong class="govuk-tag govuk-tag--blue">
                Incomplete
              </strong>
            </div>

          {% endif %}

        </li>
      </ul>

      <h2 class="govuk-heading-m">Deceased’s details</h2>

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/name-age-date-of-death.html" aria-describedby="">
              Name and date of death
            </a>
          </div>

          {% if (data['deceasedFirstName'] and data['deceasedLastName'] and data['name-order'] and data['day-of-death'] 
          and data['month-of-death'] and data['year-of-death'] and data['registration-confirmation2'])%}

            <div class="govuk-task-list__status" id="">
              Completed
            </div>

          {% else %}

          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--yellow govuk-tag-wider">
            For informant review</strong>
          </div>
      

          {% endif %}

        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/personal-details.html" aria-describedby="">
              Personal details
            </a>
          </div>

          {% if (data['deceasedSex'] and data['deceasedUsualAddress'] and data['deceasedDateOfBirth']
          and data['deceasedCountryOfBirth'] and data['SpanishNational']) and data['age-hours'] and data['age-minutes'] and data['registration-confirmation3']%}

            <div class="govuk-task-list__status" id="">
              Completed
            </div>

          {% elif (data['deceasedSex'] and data['deceasedUsualAddress'] and data['deceasedDateOfBirth']
          and data['deceasedCountryOfBirth'] and data['SpanishNational'] and data['age-hours'] and data['age-minutes']) %}

            <div class="govuk-task-list__status" id="">
              <strong class="govuk-tag govuk-tag--yellow govuk-tag-wider">
              For informant review</strong>
            </div>

          {% else %}

            <div class="govuk-task-list__status" id="">
              <strong class="govuk-tag govuk-tag--blue">
                Incomplete
              </strong>
            </div>

          {% endif %}

        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/parents-details.html" aria-describedby="">
              Parents’ details
            </a>
          </div>

          {% if (data['mother-info'] and data['second-parent-info'] and data['registration-confirmation4'])%}

            <div class="govuk-task-list__status" id="">
              Completed
            </div>

          {% elif (data['mother-info'] and data['second-parent-info']) %}

            <div class="govuk-task-list__status" id="">
              <strong class="govuk-tag govuk-tag--yellow govuk-tag-wider">
              For informant review</strong>
            </div>

          {% else %}

            <div class="govuk-task-list__status" id="">
              <strong class="govuk-tag govuk-tag">
                Incomplete
              </strong>
            </div>

          {% endif %}

        </li>
      </ul>

      <h2 class="govuk-heading-m">Statistical information</h2>

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">

          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/voluntary-statistics.html" aria-describedby="">
              Voluntary statistics
            </a>
          </div>

          {% if (data['voluntary-communal-estabishment'] and data['additional-industry-mother'] and data['employment-mother'] 
          and data['additional-industry-second-parent'] and data['employment-second-parent'] and data['registration-confirmation5'])%}

            <div class="govuk-task-list__status" id="">
              Completed
            </div>

          {% elif ( data['voluntary-communal-estabishment'] and data['additional-industry-mother'] and data['employment-mother'] 
          and data['additional-industry-second-parent'] and data['employment-second-parent']) %}

            <div class="govuk-task-list__status" id="">
              <strong class="govuk-tag govuk-tag--yellow govuk-tag-wider">
              For informant review</strong>
            </div>

          {% else %}

            <div class="govuk-task-list__status" id="">
              <strong class="govuk-tag govuk-tag--blue">
                Incomplete
              </strong>
            </div>

          {% endif %}

        </li>
      </ul>

      <h2 class="govuk-heading-m">Submit the registration</h2>

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">

          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/registrars-designation.html" aria-describedby="company-details-1-status">
              Registrar’s designation 
            </a>
          </div>

          {% if (data['designation']) %}

            <div class="govuk-task-list__status" id="">
              Completed
            </div>

          {% else %}

            <div class="govuk-task-list__status" id="">
              <strong class="govuk-tag govuk-tag--blue">
                Incomplete
              </strong>
            </div>

          {% endif %}

        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">

          {% if (data['registration-confirmation-register-page'])%}

            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="tasks/register-page.html" aria-describedby="">
                Register page
              </a>
            </div>

            <div class="govuk-task-list__status" id="">
              Completed
            </div>

          {% elif (data['designation']) %}

            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="tasks/register-page.html" aria-describedby="">
                Register page
              </a>
            </div>

            <div class="govuk-task-list__status" id="">
              <strong class="govuk-tag govuk-tag--blue">
                Incomplete 
              </strong>
            </div>

          {% else %}

            <div class="govuk-task-list__name-and-hint">
                Register page
            </div>

            <div class="govuk-task-list__status" id="">
              <strong class="govuk-tag govuk-tag--grey">
                Cannot start yet
              </strong>
            </div>

          {% endif %}

        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">

          {% if (data['informantSignature'] and data['signature-annotation'] and data['registrarSignature'])%}

            <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link" href="tasks/signature-details.html" aria-describedby="">
                  Signature details
                </a>
            </div>

          <div class="govuk-task-list__status" id="">
            Completed
          </div>

          {% elif (data['registration-confirmation-register-page']) %}

            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="tasks/signature-details.html" aria-describedby="">
                Signature details
              </a>
            </div>

            <div class="govuk-task-list__status" id="">
              <strong class="govuk-tag govuk-tag--blue">
                Incomplete 
              </strong>
            </div>
          
          {% else %}
        
          <div class="govuk-task-list__name-and-hint">
            Signature details
          </div>

          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--grey">
              Cannot start yet
            </strong>
          </div>

          {% endif %}
        </li>
      </ul>

      {% if (data['informantSignature'] and data['signature-annotation'] and data['registrarSignature'])%}

      <div class="govuk-button-group govuk-!-padding-top-9">
        {{ govukButton
          ({ 
          text: "Send to RON", 
          href: "send-to-ron.html" }) }}

          <a class="govuk-link" href="#">Delete the record</a>

      </div>

      {% else %}

      <div class="govuk-button-group govuk-!-padding-top-9">
        {{ govukButton
          ({ 
          text: "Send to RON", 
          href: "task-list?cannot-sent-to-ron-banner=true" }) }}

          <a class="govuk-link" href="#">Delete the record</a>

      </div>


      {% endif %}     

    </div>
  </div>
{% endblock %}
