{% extends "layouts/main.html" %}

{% block pageTitle %}
Create record - Age of deceased – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype, not the real service.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "deceased's-details.html"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form class="form" action="bilingual" method="post">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="age-hint">
              <span class="govuk-caption-l">Create record</span>
              <h1 class="govuk-heading-l">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                Age of deceased
              </legend>
              <h1>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="age-bracket-1" name="age-bracket" type="radio" value="Less than 24 hours" {{ checked("age-bracket", "Less than 24 hours") }}>
                  <label class="govuk-label govuk-radios__label" for="age-bracket-1">
                    Less than 24 hours
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="age-bracket-2" name="age-bracket" type="radio" value="1 to 27 days" {{ checked("age-bracket", "1 to 27 days") }}>
                  <label class="govuk-label govuk-radios__label" for="age-bracket-2">
                    1 to 27 days
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="age-bracket-3" name="age-bracket" type="radio" value="28 days to 15 years" {{ checked("age-bracket", "28 days to 15 years") }}>
                  <label class="govuk-label govuk-radios__label" for="age-bracke-3">
                    28 days to 15 years
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="age-bracket-4" name="age-bracket" type="radio" value="16 years to 74 years" {{ checked("age-bracket", "16 years to 74 years") }} >
                  <label class="govuk-label govuk-radios__label" for="age-bracket-4">
                    16 years to 74 years
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="age-bracket-5" name="age-bracket" type="radio" value="75 years or older" {{ checked("age-bracket", "75 years or older") }} >
                  <label class="govuk-label govuk-radios__label" for="age-bracket-5">
                    75 years or older
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="age-bracket-6" name="age-bracket" type="radio" value="I do not have their age" {{ checked("age-bracket", "I do not have their age") }} >
                  <label class="govuk-label govuk-radios__label" for="age-bracket-6">
                    I do not have their age
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          

          
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Continue"
            }) }}
          </div>

        </form>

      </div>
    </div>

    </main>
</div>
{% endblock %}
