{% extends "layouts/main.html" %}

{% block pageTitle %}
Relationship details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype, not the real service.'
}) }}

  {{ govukBackLink({
  text: "Back to record",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Send record to RON to complete registration
        </h1>

        <p class="govuk-body">
          After you send it, you’ll need to submit this registration in RON. 
          <br>
          <br>
          You’ll get the RON number.
          <br>
          <br>
          You cannot return to this registration in the Digital Registration Service.
        </p>
        <br>

        

          <div class="govuk-button-group">
            {{ govukButton({
              text: "Send to RON",
              href: "/coroners/round2/route4-99revA/create-new-record/confirmation-page"
            }) }}
          </div>

        </form>

      </div>
    </div>

    </main>
</div>

{% endblock %}
