{% extends "layouts/main.html" %}

{% block pageTitle %}
  Task list – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype, not the real service.'
}) }}

{{ govukBackLink({
  text: "Back to create record",
  href: "create-new-record.html"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{data['deceasedLastName']}}, {{data['deceasedFirstName']}} {{data['deceasedMiddleName']}}</h1>

      <h2 class="govuk-heading-l">Pre appointment information</h2>

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/record-information.html" aria-describedby="">
              Prepare for appointment
            </a>
          </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/uploads.html" aria-describedby="">
              Upload certificates and documents
            </a>
          </div>
        </li>
      </ul>
      
      <br>

      <h2 class="govuk-heading-l">Registration</h2>

      <h2 class="govuk-heading-m">Source of information</h2>

      <ul class="govuk-task-list">
        

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/cause-of-death.html" aria-describedby="">
              Cause of death
            </a>
          </div>
          
          {% if (data['CauseOfDeath-a'] and data['option-medical-cert'] and
          data['pregnant'] and data['EmploymentContribute-fieldset'] and data['FurtherInformation'] and data['Ethnicity'] and data['HazardousImplants'] and
          data['APNameAndQual'] and data['APGMCNumber'] and data['MENameAndQual'] and data['MENameAndQual'] and data['Date-medical-certificate-signed-month'] and
          data['Date-medical-certificate-signed-year'])%}

          <div class="govuk-task-list__status" id="">
            Completed
          </div>

          {% else %}

          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          </div>

          {% endif %}

        </li>
      </ul>

      <h2 class="govuk-heading-m">Deceased’s details</h2>

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/name-and-date-of-death.html" aria-describedby="">
              Name and date of death
            </a>
          </div>

          {% if (data['deceasedFirstName'] and data['deceasedLastName'] and data ['capitalise'] and data['name-order'] and 
          data['day-of-death'] and data['month-of-death'] and data['year-of-death'])%}

          <div class="govuk-task-list__status" id="">
            Completed
          </div>

          {% else %}

          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          </div>

          {% endif %}
        
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/place-of-death.html" aria-describedby="">
              Place of death
            </a>
          </div>

          {% if (data['place-of-death'])%}

          <div class="govuk-task-list__status" id="">
            Completed
          </div>

          {% else %}

          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          </div>

          {% endif %}

        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/personal-details.html" aria-describedby="">
              Personal details
            </a>
          </div>

          {% if (data['deceasedSex'] and data['deceasedUsualAddress'] and data['deceasedCountryOfBirth'] and 
          data['SpanishNational'] and data['OccupationStatus'])%}

          <div class="govuk-task-list__status" id="">
            Completed
          </div>

          {% else %}

          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          </div>

          {% endif %}

        </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/relationship-details.html" aria-describedby="">
              Relationship details
            </a>
          </div>

          {% if (data['relationship'])%}

          <div class="govuk-task-list__status" id="">
            Completed
          </div>

          {% else %}

          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          </div>

          {% endif %}

        </li>
      </ul>


      <h2 class="govuk-heading-m">Informant’s details</h2>

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/informant-details.html" aria-describedby="">
              Informant’s details
            </a>
          </div>

          {% if (data['informantLastName'] and data['informantCapitaliseLastNames'] and data['informantQualification'] and 
          data['informantLiveWithDeceased'])%}

          <div class="govuk-task-list__status" id="">
            Completed
          </div>

          {% else %}

          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete
            </strong>
          </div>

          {% endif %}

        </li>
      </ul>

      <h2 class="govuk-heading-m">Information for statistics</h2>
      <ul class="govuk-task-list">

        <li class="govuk-task-list__item govuk-task-list__item--with-link">

          {% if (data['contact'])%}

          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/medical-information.html" aria-describedby="">
              Medical information
            </a>
          </div>

          <div class="govuk-task-list__status" id="">
            Completed
          </div>

          {% elif (data['relationship']) %}

          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/medical-information.html" aria-describedby="">
              Medical information
            </a>
          </div>

          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete 
            </strong>
          </div>

          {% else %}

          <div class="govuk-task-list__name-and-hint">
            Medical information
          </div>

          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--grey">
              Cannot start yet
            </strong>
          </div>

          {% endif %}

        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">

          {% if (data['additional-industry-mother'] and data['employment-mother'] and data['additional-industry-second-parent'] and data['employment-second-parent'])%}

          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/employment-and-industry-information.html" aria-describedby="">
              Employment and industry information
            </a>
          </div>

          <div class="govuk-task-list__status" id="">
            Completed
          </div>

          {% elif (data['relationship']) %}

          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/employment-and-industry-information.html" aria-describedby="">
              Employment and industry information
            </a>
          </div>

          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete 
            </strong>
          </div>

          {% else %}

          <div class="govuk-task-list__name-and-hint">
            Employment and industry information
          </div>

          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--grey">
              Cannot start yet
            </strong>
          </div>

          {% endif %}

        </li>

      </ul>

      <h2 class="govuk-heading-m">Submit the registration</h2>
      
      <ul class="govuk-task-list">
      
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
  
            {% if (data['designation'])%}
  
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="tasks/register-page.html" aria-describedby="">
                Register page
              </a>
            </div>
  
            <div class="govuk-task-list__status" id="">
              Completed
            </div>
  
            {% elif (data['CauseOfDeath-a'] and data['option-medical-cert'] and
            data['pregnant'] and data['EmploymentContribute-fieldset'] and data['FurtherInformation'] and data['Ethnicity'] and data['HazardousImplants'] and
            data['APNameAndQual'] and data['APGMCNumber'] and data['MENameAndQual'] and data['MENameAndQual'] and data['Date-medical-certificate-signed-month'] and
            data['Date-medical-certificate-signed-year']) and 
            data['deceasedFirstName'] and data['deceasedLastName'] and data ['capitalise'] and data['name-order'] and 
            data['day-of-death'] and data['month-of-death'] and data['year-of-death'] and
            data['place-of-death'] and 
            data['deceasedSex'] and data['deceasedUsualAddress'] and data['deceasedCountryOfBirth'] and data['SpanishNational'] and data['OccupationStatus'] and 
            data['relationship'] and 
            data['informantLastName'] and data['informantCapitaliseLastNames'] and data['informantQualification'] and 
            data['informantLiveWithDeceased'] and 
            data['contact'] and data['additional-industry-mother'] and data['employment-mother'] and data['additional-industry-second-parent'] and data['employment-second-parent'] %}
  
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="tasks/register-page.html" aria-describedby="">
                Register page
              </a>
            </div>
  
            <div class="govuk-task-list__status" id="">
              <strong class="govuk-tag govuk-tag--blue">
                Incomplete 
              </strong>
            </div>
  
            {% else %}
  
            <div class="govuk-task-list__name-and-hint">
              Register page
            </div>
  
            <div class="govuk-task-list__status" id="">
              <strong class="govuk-tag govuk-tag--grey">
                Cannot start yet
              </strong>
            </div>
  
            {% endif %}
  
          </li>

        
        <li class="govuk-task-list__item govuk-task-list__item--with-link">

          {% if (data['informantSignature'] and data['signature-annotation'] and data['registrarSignature'])%}

          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/signature-details.html" aria-describedby="">
              Signature details
            </a>
          </div>

          <div class="govuk-task-list__status" id="">
            Completed
          </div>

          {% elif (data['designation']) %}

          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="tasks/signature-details.html" aria-describedby="">
              Signature details
            </a>
          </div>

          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--blue">
              Incomplete 
            </strong>
          </div>

          {% else %}

          <div class="govuk-task-list__name-and-hint">
            Signature details
          </div>

          <div class="govuk-task-list__status" id="">
            <strong class="govuk-tag govuk-tag--grey">
              Cannot start yet
            </strong>
          </div>

          {% endif %}

        </li>
      </ul>


      <div class="govuk-button-group govuk-!-padding-top-9">
        {{ govukButton
          ({ 
          text: "Complete registration", 
          href: "send-to-RON.html" }) }}

          <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
            Delete the record 
          </button>

         
      </div>     

    </div>
  </div>
{% endblock %}
