{% extends "layouts/main.html" %}

{% block pageTitle %}
Age of deceased – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype, not the real service.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "age-of-deceased.html"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form class="form" action="age-range" method="post">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="age-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <span class="govuk-caption-l">Create record</span>
                  <h1 class="govuk-heading-l">
                    Is this a bilingual registration?
                  </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="age-bracket" name="age-bracket" type="radio" value="less-than-24-hours" {{ checked("age-bracket", "less-than-24-hours") }} data-aria-controls="conditional-contact">
                  <label class="govuk-label govuk-radios__label" for="contact">
                    No, it’s in English only
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="age-bracket-2" name="age-bracket" type="radio" value="1-27-days" {{ checked("age-bracket", "1-27-days") }} data-aria-controls="conditional-contact-2">
                  <label class="govuk-label govuk-radios__label" for="contact-2">
                    Yes, it’s in Welsh and English
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="age-bracket-3" name="age-bracket" type="radio" value="28-days-15-years" {{ checked("age-bracket", "28-days-15-years") }} data-aria-controls="conditional-contact-3">
                  <label class="govuk-label govuk-radios__label" for="contact-3">
                    I don’t know yet
                  </label>
                </div> 
              </div>
            </fieldset>
          </div>
          

          
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Continue",
              href: "/bilingular/round1/task1/create-new-record/check-record-details"
            }) }}
          </div>

        </form>

      </div>
    </div>

    </main>
</div>
{% endblock %}
