{% extends "layouts/main.html" %}

{% block pageTitle %}
Age of deceased – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype, not the real service.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "bilingular.html"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Create record</span>
       <h1 class="govuk-heading-l">Check record details</h1>
       <p class="govuk-body">These must match the details on the medical certificate or coroner's form.</p>
                
         <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Source of information  
              </dt>
              <dd class="govuk-summary-list__value">
                Medical examiner 
                Standard (Form MEC4)
              </dd>
              <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date of birth
                    </dt>
                    <dd class="govuk-summary-list__value">
                      5 January 1978
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
                    </dd>
            </div>

            <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Customer reference
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Not provided
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
                    </dd>
            </div>

            <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Address
                    </dt>
                    <dd class="govuk-summary-list__value">
                      72 Guild Street<br>London<br>SE23 6FH
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
                    </dd>
            </div>
            <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Contact details
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <p class="govuk-body">07700 900457</p>
                      <p class="govuk-body">sarah.phillips@example.com</p>
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
                    </dd>
            </div>
          </dl>

          <form action="/form-handler" method="post" novalidate>
            <input type="hidden" name="answers-checked" value="true">
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Create record
            </button>
          </form>
      </div>
    </div>

    </main>
</div>
{% endblock %}
