{% extends "layouts/main.html" %}

{% block pageTitle %}
Cause of death – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype, not the real service.'
}) }}

  {{ govukBackLink({
  text: "Back to record",
  href: "../task-list.html"
}) }}

<a class="govuk-link govuk-link--no-visited-state" href="" style="display: inline-block; position: relative; float: right; top: 15px;">View accented characters (opens in new window)</a>


{% endblock %}

{% block content %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
  
  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l">
            Cause of death 
          </h1>

          <form class="form" action="../task-list?cannot-sent-to-ron-banner" method="post">

            <h2 class="govuk-heading-s">Cause of death  | Achos marwolaeth</h2>

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  If cause of death is above the character limit
                </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body">Anything you enter up to the character limit will be added to the register page and sent to RON.</p>
                <p class="govuk-body">You will need to:</p>
                <ol>
                  <li>Write the remaining information on the register page.</li>
                  <li>Find and caution mark this record in RON.</li>
                  <li>Complete the death certificate by hand or using the type and print function.</li>
                </ol>
              </div>
            </details>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="MCCDcause-of-death" aria-required="false">

                {{ govukTextarea({
                  name: "CauseOfDeath-a",
                  value: data['CauseOfDeath-a'] or ['Cerebral Hemorrhage'],
                  id: "CauseOfDeath-a",
                  label: {
                    text: "1(a) Disease or condition directly leading to death",
                    classes: "govuk-label--xs",
                    isPageHeading: true
                  }
                }) }}

                <p class="govuk-body">
                  <a href="#" class="govuk-link govuk-link--no-visited-state" id="addCauseWelsh" style="display:block">
                    1(a)  Ychwanegwch Clefyd neu gyflwr sy'n arwain yn uniongyrchol at farwolaeth (yn Cymraeg)
                  </a>
                </p>
                <div id="CauseWelsh"></div>

                {% raw %}
                <script>
                var shownCauseWelsh = `
                    <div class="govuk-form-group">
                      <div class="horizontal-wrapper">
                      <label class="govuk-label" for="causeWelsh">
                        1(a) Clefyd neu gyflwr sy'n arwain yn uniongyrchol at farwolaeth
                      </label>
                      <p class="govuk-body govuk-!-margin-bottom-1">
                        <a href="#" class="govuk-link govuk-link--no-visited-state" id="removeCauseWelsh">Remove</a>
                      </p>
                      </div> 
                      <textarea class="govuk-textarea govuk-!-margin-bottom-2" id="causeWelsh" name="causeWelsh" value="{{data['causeWelsh']}}" rows="5"></textarea>
                    </div>`;
            
                    function toggleCauseWelsh(event) {
                      event.preventDefault();
                      var CauseWelshDiv = document.getElementById('CauseWelsh');
                      var addCauseWelshLink = document.getElementById('addCauseWelsh');
                      if (event.target.id === 'addCauseWelsh') {
                        CauseWelshDiv.innerHTML = shownCauseWelsh;
                        addCauseWelshLink.style.display = 'none';
                        document.getElementById('removeCauseWelsh').addEventListener('click', toggleCauseWelsh);
                              var newTextarea = document.getElementById('causeWelsh');
                              new GOVUKFrontend.CharacterCount(newTextarea).init();
                      } else if (event.target.id === 'removeCauseWelsh') {
                        CauseWelshDiv.innerHTML = '';
                        addCauseWelshLink.style.display = 'block';
                      }
                    }
                  
                    document.getElementById('addCauseWelsh').addEventListener('click', toggleCauseWelsh);
                  </script>
                  {% endraw %}


                <div class="govuk-form-group govuk-!-margin-bottom-6">
                  <label class="govuk-label" for="sort">
                    Time between onset and death (if provided)
                  </label>
                  <input class="govuk-input govuk-input--width-4" id="width-4" name="width4" type="text">
                  <select class="govuk-select" id="sort" name="sort">
                    <option value="published" selected>Choose time unit</option>
                    <option value="updated">Minutes</option>
                    <option value="views">Hours</option>
                    <option value="comments">Days</option>
                    <option value="updated">Weeks</option>
                    <option value="views">Months</option>
                    <option value="comments">Years</option>
                    <option value="comments">Not stated</option>
                  </select>
                </div>

                <p class="govuk-body">
                  <a href="#" class="govuk-link govuk-link--no-visited-state" id="addAnother" style="display:block">
                    1(b). Add another disease or condition leading to 1(a) (In English)</a>
                </p>
                <div id="Another"></div>

                <p class="govuk-body">
                  <a href="#" class="govuk-link govuk-link--no-visited-state" id="addCauseWelsh" style="display:block">
                    1(b). Ychwanegwch glefyd neu gyflwr arall sy'n arwain at 1(a) (yn Cymraeg)
                  </a>
                </p>
                
                
                {% raw %}
                <script>
                var shownAnother = `
                    <div class="govuk-form-group">
                      <div class="horizontal-wrapper">
                      <label class="govuk-label" for="causeOfdeath1b">
                        1(b). Another disease or condition leading to 1(a)
                      </label>
                      <p class="govuk-body govuk-!-margin-bottom-1">
                        <a href="#" class="govuk-link govuk-link--no-visited-state" id="removeAnother">Remove</a>
                      </p>
                      </div> 
                      <textarea class="govuk-textarea govuk-!-margin-bottom-2" id="causeOfdeath1b" name="causeOfdeath1b" value="{{data['causeOfdeath1b']}}" rows="5"></textarea>
                    </div>`;
            
                    function toggleAnother(event) {
                      event.preventDefault();
                      var AnotherDiv = document.getElementById('Another');
                      var addAnotherLink = document.getElementById('addAnother');
                      if (event.target.id === 'addAnother') {
                        AnotherDiv.innerHTML = shownAnother;
                        addAnotherLink.style.display = 'none';
                        document.getElementById('removeAnother').addEventListener('click', toggleAnother);
                              var newTextarea = document.getElementById('causeOfdeath1b');
                              new GOVUKFrontend.CharacterCount(newTextarea).init();
                      } else if (event.target.id === 'removeAnother') {
                        AnotherDiv.innerHTML = '';
                        addAnotherLink.style.display = 'block';
                      }
                    }
                  
                    document.getElementById('addAnother').addEventListener('click', toggleAnother);
                  </script>
                  {% endraw %}

            <p class="govuk-body">
              <a href="#" class="govuk-link govuk-link--no-visited-state" id="addOther" style="display:block">
                2. Add other significant contributory conditions (In English)</a>
            </p>

            <div id="Other"></div>

            <p class="govuk-body">
              <a href="#" class="govuk-link govuk-link--no-visited-state" id="addCauseWelsh" style="display:block">
                2. Ychwanegwch amodau cyfrannol sylweddol eraill (yn Cymraeg)
              </a>
            </p>
                
            {% raw %}
                <script>
                var shownOther = `
                    <div class="govuk-form-group">
                      <div class="horizontal-wrapper">
                      <label class="govuk-label" for="causeOfdeath2">
                        2. Other significant contributory conditions
                      </label>
                      <p class="govuk-body govuk-!-margin-bottom-1">
                        <a href="#" class="govuk-link govuk-link--no-visited-state" id="removeOther">Remove</a>
                      </p>
                      </div> 
                      <textarea class="govuk-textarea govuk-!-margin-bottom-2" id="causeOfdeath2" name="causeOfdeath2" value="{{data['causeOfdeath2']}}" rows="5"></textarea>
                    </div>`;
            
                    function toggleOther(event) {
                      event.preventDefault();
                      var OtherDiv = document.getElementById('Other');
                      var addOtherLink = document.getElementById('addOther');
                      if (event.target.id === 'addOther') {
                        OtherDiv.innerHTML = shownOther;
                        addOtherLink.style.display = 'none';
                        document.getElementById('removeOther').addEventListener('click', toggleOther);
                              var newTextarea = document.getElementById('causeOfdeath2');
                              new GOVUKFrontend.CharacterCount(newTextarea).init();
                      } else if (event.target.id === 'removeOther') {
                        OtherDiv.innerHTML = '';
                        addOtherLink.style.display = 'block';
                      }
                    }
                  
                    document.getElementById('addOther').addEventListener('click', toggleOther);
                  </script>
                  {% endraw %}
            
                  
            </fieldset>
            </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="employment-contribution" aria-required="false">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Could the deceased’s former or current employment have contributed to the death? | A allai cyflogaeth flaenorol neu bresennol yr ymadawedig fod wedi cyfrannu at y farwolaeth?
                </legend>
                <div class="govuk-radios" data-module="govuk-radios" value="">  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="employment-contribution-yes" name="employment-contribution" type="radio" value="yes" {{ checked("employment-contribution", "yes") }}>
                    <label class="govuk-label govuk-radios__label" id="employment-contribution-label" for="employment-contribution-yes">
                      Yes | Do
                    </label>      
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="employment-contribution-no" name="employment-contribution" type="radio" value="no" checked="checked" {{ checked("employment-contribution", "no") }}>
                    <label class="govuk-label govuk-radios__label" id="employment-contribution-label" for="employment-contribution-no">
                      No | Naddo
                    </label>
                  </div> 
              </fieldset>
          </div>

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="ethnicity" aria-required="false">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Ethnicity | Ethnigrwydd
                </legend>
                <div class="govuk-radios" data-module="govuk-radios" value="">  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="ethnicity-white" name="ethnicity" type="radio" value="white" checked="checked" {{ checked("ethnicity", "white") }} data-aria-controls="conditional-ethnicity-white">
                    <label class="govuk-label govuk-radios__label" id="ethnicity-white-label" for="ethnicity-white">
                      White | Gwyn 
                    </label>      
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ethnicity-white">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <div class="govuk-radios" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="ethnicity-white-more" name="ethnicity-white-more" type="radio" value="ethnicity-white-more" checked="checked" {{ checked("ethnicity-white-more") }}>
                            <label class="govuk-label govuk-radios__label" for="ethnicity-white-more">
                              English, Welsh, Scottish, Northern Irish or British | Saesneg, Cymraeg, Albanaidd, Gogledd Iwerddon neu Brydeinig
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="ethnicity-white-more-2" name="ethnicity-white-more" type="radio" value="scotland">
                            <label class="govuk-label govuk-radios__label" for="ethnicity-white-more-2">
                              Irish | Gwyddelig 
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="ethnicity-white-more-3" name="ethnicity-white-more" type="radio" value="wales">
                            <label class="govuk-label govuk-radios__label" for="ethnicity-white-more-3">
                              Gypsy or Irish Traveller | Sipsiwn neu Deithwyr Gwyddelig 
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="ethnicity-white-more-4" name="ethnicity-white-more" type="radio" value="northern-ireland">
                            <label class="govuk-label govuk-radios__label" for="ethnicity-white-more-4">
                              Any other White background | Unrhyw gefndir Gwyn arall  
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="ethnicity-mixed" name="ethnicity" type="radio" value="mixed" {{ checked("ethnicity", "mixed") }} data-aria-controls="conditional-ethnicity-mixed">
                    <label class="govuk-label govuk-radios__label" id="ethnicity-mixed-label" for="ethnicity-mixed">
                      Mixed or multiple ethnic groups | Grwpiau ethnig cymysg neu lluosog 
                    </label>
                  </div> 
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ethnicity-mixed">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <div class="govuk-radios" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved" name="deviceRemoved" type="radio" value="england">
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved">
                              White and Black Caribbean | Gwyn a Du Caribïaidd  
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved-2" name="deviceRemoved" type="radio" value="scotland">
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved-2">
                              White and Black African | Gwyn a Du Affricanaidd 
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved-3" name="deviceRemoved" type="radio" value="wales">
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved-3">
                              White and Asian | Gwyn ac Asiaidd 
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved-4" name="deviceRemoved" type="radio" value="northern-ireland">
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved-4">
                              Any other Mixed or multiple ethnic background | Unrhyw gefndir ethnig cymysg neu aml-ethnig arall 
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="ethnicity-asian" name="ethnicity" type="radio" value="asian" {{ checked("ethnicity", "asian") }} data-aria-controls="conditional-ethnicity-asian">
                    <label class="govuk-label govuk-radios__label" id="ethnicity-asian-label" for="ethnicity-asian">
                      Asian or Asian British | Asiaidd neu Asiaidd Prydeinig 
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ethnicity-asian">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <div class="govuk-radios" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved" name="deviceRemoved" type="radio" value="england">
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved">
                              Indian | Indiaidd
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved-2" name="deviceRemoved" type="radio" value="scotland">
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved-2">
                              Pakistani | Pacistanaidd 
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved-3" name="deviceRemoved" type="radio" value="wales">
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved-3">
                              Bangladeshi | Bangladeshaidd  
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved-4" name="deviceRemoved" type="radio" value="northern-ireland">
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved-4">
                              Chinese | Tseiniaidd 
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved-5" name="deviceRemoved" type="radio" value="northern-ireland">
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved-5">
                              Any other Asian background | Unrhyw gefndir Asiaidd arall
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="ethnicity-black" name="ethnicity" type="radio" value="black" {{ checked("ethnicity", "black") }} data-aria-controls="conditional-ethnicity-black">
                    <label class="govuk-label govuk-radios__label" id="ethnicity-black-label" for="ethnicity-black">
                      Black, Black British, Caribbean or African | Du, Du Prydeinig, Caribïaidd neu Affricanaidd 
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ethnicity-black">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <div class="govuk-radios" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved" name="deviceRemoved" type="radio" value="england">
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved">
                              Caribbean | Caribïaidd
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved-2" name="deviceRemoved" type="radio" value="scotland">
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved-2">
                              African | Affricanaidd
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved-3" name="deviceRemoved" type="radio" value="wales">
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved-3">
                              Any other Black, Black British, or Caribbean background | Unrhyw gefndir Du, Du Prydeinig neu Garibïaidd arall
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="ethnicity-other" name="ethnicity" type="radio" value="other" {{ checked("ethnicity", "other") }} data-aria-controls="conditional-ethnicity-other">
                    <label class="govuk-label govuk-radios__label" id="ethnicity-other-label" for="ethnicity-other">
                      Other ethnic group | Grŵp ethnig arall  
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-ethnicity-other">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
                        <div class="govuk-radios" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved" name="deviceRemoved" type="radio" value="england">
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved">
                              Arab | Arabaidd
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved-2" name="deviceRemoved" type="radio" value="scotland">
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved-2">
                              Any other ethnic group | Unrhyw grŵp ethnig arall
                            </label>
                          </div>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="ethnicity-not-known" name="ethnicity" type="radio" value="not-known" {{ checked("ethnicity", "not-known") }}>
                    <label class="govuk-label govuk-radios__label" id="ethnicity-not-known-label" for="ethnicity-not-known">
                      Not known | Ddim yn hysbys 
                    </label>
                  </div>
                  
                </div>
              </fieldset>
            </div>  

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="hazardous-implant-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Did the deceased have any hazardous implants? | A oedd gan yr ymadawedig unrhyw fewnblaniadau peryglus? 
                </legend>
                <div id="contribution-hint" class="govuk-hint">
                  For example, a pacemaker or radioactive device
                </div>
                <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="hazardous-implant-yes" name="hazardous-implant" type="radio" value="email" checked="checked" data-aria-controls="conditional-hazardous-implant-yes"  {{ checked("hazardous-implant", "yes") }}>
                    <label class="govuk-label govuk-radios__label" for="hazardous-implant-yes">
                      Yes | Do
                    </label>
                  </div>
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-hazardous-implant-yes">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="device-type">
                        What type of device was it? | Pa fath o ddyfais oedd hi? 
                      </label>
                      <input class="govuk-input govuk-input--width-20" id="device-type" name="device-type" type="text" spellcheck="false" value="{{data['device-type'] or ['Pacemaker, chest']}}">
                    </div>
                    <div class="govuk-form-group">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            Was the device removed? | A gafodd y ddyfais ei dynnu oddi arno? 
                        </legend>
                        <div class="govuk-radios" data-module="govuk-radios">
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved" name="deviceRemoved" type="radio" value="england" checked="checked">
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved">
                              Yes | Do
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved-2" name="deviceRemoved" type="radio" value="scotland">
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved-2">
                              No | Naddo
                            </label>
                          </div>
                          <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="deviceRemoved-3" name="deviceRemoved" type="radio" value="wales">
                            <label class="govuk-label govuk-radios__label" for="deviceRemoved-3">
                              Not known | Anhysbys
                            </label>
                          </div>
                          
                        </div>
                     
                    </div>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="hazardous-implant-no" name="hazardous-implant" type="radio" value="no" {{ checked("hazardous-implant-no", "no") }} >
                    <label class="govuk-label govuk-radios__label" id="hazardous-implant-label" for="hazardous-implant-no">
                      No | Naddo
                    </label>      
                  </div>
                  
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="hazardous-implant-not-known" name="hazardous-implant" type="radio" value="not-known" {{ checked("hazardous-implant-not-known", "not-known") }}>
                    <label class="govuk-label govuk-radios__label" id="hazardous-implant-label" for="hazardous-implant-not-known">
                      Not known | Anhysbys
                    </label>      
                  </div>
                  
                  
                </div>
              </fieldset>
            </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" id="pregnancy" aria-required="false">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Was the deceased pregnant in the year before their death? | A oedd yr ymadawedig yn feichiog o fewn y flwyddyn cyn ei farwolaeth?
            </legend>
            <div class="govuk-radios" data-module="govuk-radios" value="">  
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="not-applicable" name="pregnancy" type="radio" value="white" checked="checked" {{ checked("pregnancy", "white") }}>
                <label class="govuk-label govuk-radios__label" id="not-applicable-label" for="not-applicable">
                  Not applicable | Amherthnasol 
                </label>      
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="not-pregnant" name="pregnancy" type="radio" value="not-pregnant" {{ checked("pregnancy", "not-pregnant") }}>
                <label class="govuk-label govuk-radios__label" id="not-pregnant-label" for="not-pregnant">
                  Not pregnant | Ddim yn feichiog
                </label>
              </div> 
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="at-the-time" name="pregnancy" type="radio" value="at-the-time" {{ checked("pregnancy", "at-the-time") }}>
                <label class="govuk-label govuk-radios__label" id="at-the-time-label" for="at-the-time">
                  Pregnant at the time of death | Yn feichiog ar adeg y farwolaeth
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="1-42-days" name="pregnancy" type="radio" value="1-42-days" {{ checked("pregnancy", "1-42-days") }}>
                <label class="govuk-label govuk-radios__label" id="1-42-days-label" for="1-42-days">
                  Pregnant 1-42 days before death | Yn feichiog 1-42 diwrnod cyn marwolaeth 
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="43-year" name="pregnancy" type="radio" value="43-year" {{ checked("pregnancy", "43-year") }}>
                <label class="govuk-label govuk-radios__label" id="43-year-label" for="43-year">
                  Pregnant 43 days to a year before death | Yn feichiog 43 diwrnod i flwyddyn cyn marwolaeth
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="not-known" name="pregnancy" type="radio" value="not-known" {{ checked("pregnancy", "not-known") }}>
                <label class="govuk-label govuk-radios__label" id="not-known-label" for="not-known">
                  Not known  | Ddim yn hysbys
                </label>
              </div>
            </div>
          </fieldset>
        </div>  

        <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="FurtherInformation-fieldset" aria-required="false">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Might additional information about the cause of death be available later? | A allai gwybodaeth ychwanegol am achos y farwolaeth fod ar gael yn nes ymlaen?
                </legend>
                <div class="govuk-radios govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="FurtherInformation-true" name="FurtherInformation" type="radio" value="true" {{ checked("FurtherInformation", "true") }}>
                    <label class="govuk-label govuk-radios__label" id="FurtherInformation-true-label" for="FurtherInformation-true">
                      Yes | Do
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="FurtherInformation-false" name="FurtherInformation" type="radio" value="false" checked="checked" {{ checked("FurtherInformation", "false") }}>
                    <label class="govuk-label govuk-radios__label" id="FurtherInformation-false-label" for="FurtherInformation-false">
                      No | Naddo
                    </label>  
                  </div>
                </div>
              </fieldset>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" id="" aria-required="false">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              Attending practioner details | Manylion yr ymarferwr a a fynychodd 
            </legend>
            <div class="govuk-form-group">
              <label class="govuk-label" id="AP-name" for="AP-name">
                Full name and qualification | Enw llawn a chymwysterau 
              </label> 
              <input class="govuk-input" id="AP-name" name="AP-name" type="text" aria-required="false" value="{{data['AP-name'] or 'Goergia Jones MD'}}">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" id="AP-nameGMCNumber" for="AP-nameGMCNumber">
                GMC number | Rif GMC
              </label> 
              <input class="govuk-input govuk-input--width-10" id="AP-nameGMCNumber" name="AP-nameGMCNumber" type="text" aria-required="false" value="{{data['MedExaminerGMCNumber'] or ['1212121212'] }}">
            </div>
          </fieldset>
    </div> 

        <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" id="" aria-required="false">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Medical examiner details | Manylion yr arholwr meddygol
                </legend>
                <div class="govuk-form-group">
                  <label class="govuk-label" id="MedExaminer" for="MedExaminer">
                    Full name and qualifications | Enw llawn a chymwysterau 
                  </label> 
                  <input class="govuk-input" id="MedExaminer" name="MedExaminer" type="text" aria-required="false" value="{{data['MedExaminer'] or 'Kenneth Grayson MD'}}">
                </div>

                <div class="govuk-form-group">
                  <label class="govuk-label" id="MedExaminerGMCNumber" for="MedExaminerGMCNumber">
                    GMC number | Rif GMC
                  </label> 
                  <input class="govuk-input govuk-input--width-10" id="MedExaminerGMCNumber" name="MedExaminerGMCNumber" type="text" aria-required="false" value="{{data['MedExaminerGMCNumber'] or '3434343434'}}">
                </div>
              </fieldset>
        </div> 

        <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" role="group" aria-describedby="Date-medical-certificate-signed">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  Date signed by medical examiner
                </legend>
                <div id="Date-medical-certificate-signed-hint" class="govuk-hint">
                  For example, 27 3 2024
                </div>
                <div class="govuk-date-input" id="Date-medical-certificate-signed">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="Date-medical-certificate-signed-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="Date-medical-certificate-signed-day" name="Date-medical-certificate-signed-day" type="text" inputmode="numeric" value="{{data['Date-medical-certificate-signed-day'] or "05"}}">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="Date-medical-certificate-signed-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="Date-medical-certificate-signed-month" name="Date-medical-certificate-signed-month" type="text" inputmode="numeric" value="{{data['Date-medical-certificate-signed-month'] or "11"}}">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="Date-medical-certificate-signed-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="Date-medical-certificate-signed-year" name="Date-medical-certificate-signed-year" type="text" inputmode="numeric" value="{{data['Date-medical-certificate-signed-year'] or "s"}}">
                    </div>
                  </div>
                </div>
              </fieldset>
        </div>

              
        <div class="govuk-button-group">
              <button type="submit" class="govuk-button govuk-button--primary" data-module="govuk-button">
                Save and return
              </button>
        </div>
        </form>
      </div>
    
    </main>
  </div>

{% endblock %}
