{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      Prototypes
    </h1>

    <!-- Under 16 registration-->
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Under 16 registration</h2>
    <strong class="govuk-tag govuk-!-margin-bottom-4">
      Prototyping
    </strong>

    <p class="govuk-body">
      <a href="under16/sign-in.html">Version 1</a>
    </p>

    <p class="govuk-body">
     Recreation of the prototype from the old kit. The prototype contains full journey for under 16 and starting points of other journeys.
    </p>

    <p class="govuk-body-s">Got a question? Contacts: Aga, Stefan or Andy  Team 3</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <!-- Another prototype-->

    <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Work name</h2>
    <strong class="govuk-tag govuk-!-margin-bottom-4">
      Status
    </strong>

    <p class="govuk-body">
      <a href="#">Link</a>
    </p>

    <p class="govuk-body">
      Short description.
    </p>

    <p class="govuk-body-s">Got a question? Contacts: Interaction Designer, Content Designer, Researcher  Team x</p>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


  </div>
</div>

{% endblock %}
