{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      Prototypes
    </h1>

    <!-- Under 16 registration-->
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Under 16 registration</h2>
    <strong class="govuk-tag govuk-!-margin-bottom-4">
      Prototyping
    </strong>

    <p class="govuk-body">
      Recreation of the prototype from the old kit. Main journey for under 16.
    </p>
    
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Version 1 - Round 2</h3>

    <p class="govuk-body">
      <a href="under16/task1/sign-in.html">Tasks 1</a> - Pre-registration: creating of new record
    </p>

    <p class="govuk-body">
      <a href="under16/task2/sign-in.html">Tasks 2</a> - Registration, with dummy data 1
    </p>

    <p class="govuk-body">
      <a href="under16/task3/sign-in.html">Tasks 3</a> - Registration, with dummy data 2
    </p>


    <p class="govuk-body-s govuk-!-margin-top-6">Got a question? Contacts: Aga, Stefan or Andy  Team 3</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <!-- Another prototype-->

    <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Template: Work name</h2>
    <strong class="govuk-tag govuk-!-margin-bottom-4">
      Status
    </strong>

    <p class="govuk-body">
      <a href="#">Link</a>
    </p>

    <p class="govuk-body">
      Short description.
    </p>

    <p class="govuk-body-s">Got a question? Contacts: Interaction Designer, Content Designer, Researcher  Team x</p>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


  </div>
</div>

{% endblock %}
